<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--START: MODALS-->
<html>

	<body>

		<!--<div id="AboutModal" class="reveal-modal">-->
		  <h2>About Me</h2>
		    <br/>
		    <p style="font-weight: none;">I, Fitsby, am currently in the process of motivating everyone and their friends to go to the gym more often, and have fun doing so. I was conceived on August 26, 2012 when my creators realized that they needed a creative way (<span style="color:green"><b>$$$</b></span>) to get their friends and family more excited about going to the gym.
		    </p>
		    <br/><br/>
		  <h2>Meet My Makers</h2> 
		    <br/>
		    <div class="modal_header">
		      <a href="http://www.linkedin.com/pub/daniel-gaeta/47/477/78a" target="_blank" style="text-decoration: none">
		        <div><img src="/assets/danny.jpg" class="picture" alt="Danny"></div>
		        <div class="name"><strong>Daniel Gaeta</strong></div>
		      </a>
		      <div class="title">Co-Founder</div>
		      <div class="role">Gym Rat</div>
		    </div>
		    <div class="modal_header">
		      <a href="http://www.linkedin.com/pub/brent-hronik/3a/918/4a4" target="_blank" style="text-decoration: none">
		        <div><img src="/assets/brent.jpg" class="picture" alt="Brent"></div>
		        <div class="name"><strong>Brent Hronik</strong></div>
		      </a>
		      <div class="title">Co-Founder</div>
		      <div class="role">Bodybuilder</div>
		    </div>
		    <div class="modal_header">
		      <a href="http://www.linkedin.com/in/kevinyun" target="_blank" style="text-decoration: none">
		        <div><img src="/assets/kevin.jpg" class="picture" alt="Kevin"></div>
		        <div class="name"><strong>Kevin Yun</strong></div>
		      </a>
		      <div class="title">Co-Founder</div>
		      <div class="role">Cutter</div>
		    </div>
		    <div class="modal_header">
		   <a href="http://www.linkedin.com/pub/zack-chan/2b/9aa/a70" target="_blank" style="text-decoration: none">
		        <div><img src="/assets/zack.jpg" class="picture" alt="Zack"></div>
		        <div class="name"><strong>Zack Chan</strong></div>
		      </a>
		      <div class="title">VP Marketing</div>
		      <div class="role">Bulker</div>
		    </div>
		  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
		  </div>
		<!--</div>-->

	</body>

</html>