<% provide(:title, 'Contact Us') %>

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--START: MODALS-->
<html>
<body>

<div id="ContactModal" class="reveal-modal">
  <h2>Contact Us</h2>
  <br/>
  <p>
    You can reach us at <a href="mailto:team@fitsby.com" target="_blank">team@fitsby.com</a> or tweet us at <a href="http://twitter.com/fitsby" target="_blank">@fitsby</a>. We'll be quick to respond!
  </p>
  <br/>
  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
</div>

</body>

</html>