<% provide(:title, 'Frequently Asked Questions') %>

<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="assets/stylesheets/foundation.css">
  <link href="stylesheets/custom.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="assets/stylesheets/faq-terms-privacy.css">
  <meta name="description" content="Fitsby - Frequently Asked Questions">

  <!--[if lt IE 9]>
    <script src="assets/http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="images/favicon.ico"> 
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- ClickTale Top part -->
  <script type="text/javascript">
  var WRInitTime=(new Date()).getTime();
  </script>
  <!-- ClickTale end of Top part -->

    <div class="boring-body">
      <br/>
      <a href="index.html"><img id="invisible_logo" src="assets/images/icon_and_text_black.png" alt="Fitsby"></a><br/>
      <span id ="boring-title"><strong>Frequently Asked Questions</strong></span><br/><br/>
      <span><span>
      
      <div class="boring-content"><hr/><br/>
      <span class="boring-section-title"><strong>General Questions</strong></span><br/><br/>

      <span><strong>What is Fitsby?</strong></span><br/>
      <span>Fitsby is a free mobile app that motivates people to work out. Users can challenge their friends to a game of gym check-ins and win by reaching their workout goal. When the game ends, the gym goers who reached their goals split the money from their friends who didn't reach theirs. Fitsby uses your smartphone's GPS to verify that you are at a gym and also requires a minimum workout of 30 minutes.</span><br/><br/>
      <span><strong>Is Fitsby free?</strong></span><br/>
      <span>Fitsby is a free app that you can download. Playing a Fitsby game for fun is free. Playing a Fitsby game with money on the line requires that you commit to pay a wager amount (you will only be charged if you don't meet your gym goal).</span><br/><br/>
      <span><strong>Is this gambling?</strong></span><br/>
      <span>Absolutely not! Gambling is defined as playing a game of chance for money. With Fitsby, you are in complete control of your environment and there's no way you can lose any money as long as you meet your gym goal.</span><br/><br/>      
      <span>&nbsp;</span><hr/><br/>

      <span class="boring-section-title"><strong>Creating and Joining Games</strong></span><br/><br/>

      <span><strong>What’s the wager?</strong></span><br/>
      <span>The wager is the amount of money you commit to pay if you don't reach your gym goal in a game.</span><br/><br/>
      <span><strong>What’s the days?</strong></span><br/>
      <span>The days are how long the game will last. When creating a game, the game host can choose from 7, 14, 21, or 28 days.</span><br/><br/>      
      <span><strong>What's the gym goal?</strong></span><br/>
      <span>The gym goal is the amount of workouts each player must have in a game in order to be a winner (and avoid losing their wager commitment).</span><br/><br/>      
      <span><strong>What’s a private game?</strong></span><br/>
      <span>A private game is a game that doesn’t show up in the public games list. If you create a private game, only your friends who know the game host's first name and game ID can join (via SMS invitations).</span><br/><br/>
      <span><strong>When do games begin?</strong></span><br/>
      <span>When a game is first created, it will start on the next day's midnight. However, there must be at least 2 players in a game before the game can begin. If there isn't a minimum of 2 players in a game, the game will be rescheduled to start in 24 hours, and will continue to be rescheduled automatically until there are at least 2 players.</span><br/><br/>
      <span><strong>How many players can there be in a game?</strong></span><br/>
      <span>There must be at least 2 players in a game. There is no maximum limit of players.</span><br/><br/>
      <span><strong>Can I play in more than one game at a time?</strong></span><br/>
      <span>Yes, you can be playing multiple games at the same time. Each of your gym check-ins will count for all the games that you are currently in.</span><br/><br/>
      <span><strong>Can I join a game late?</strong></span><br/>
      <span>Yes, but we wouldn't recommend it.</span><br/> 
      <span>&nbsp;</span><hr/><br/>

      <span class="boring-section-title"><strong>Checking In At A Gym</strong></span><br/><br/>

      <span><strong>How do I check in at the gym?</strong></span><br/>
      <span>You must be at a verified gym before you can press the “check in” button. Then, you must be at the gym a minimum of 30 minutes before you are able to press the “check out” button.</span><br/><br/>
      <span><strong>Can I check in at my home gym?</strong></span><br/>
      <span>Unfortunately, we cannot allow you to check in at your own house, regardless of whether or not you actually worked out. We do this in order to make it fair for everyone and ensure that people are going to a verified gym.</span><br/><br/>      
      <span><strong>How do I know if my gym is a verified gym?</strong></span><br/>
      <span>As long as the place you are exercising at can be identified as a "gym", "fitness center", or "recreational facility" by Google Places, your gym is verified. If you check in at a gym that has not yet been verified by Google Places, you will be asked to enter the gym name and we will add your gym to the Google Places database. Don't worry if your gym has not been verified yet; we will still count your check-in until Google Places has verified it.</span><br/><br/>          
      <span><strong>How many times can I check in at the gym per day?</strong></span><br/>
      <span>You can only check in at a gym once per day.</span><br/><br/>
      <span>&nbsp;</span><hr/><br/>

      <span class="boring-section-title"><strong>Paying and Getting Payed</strong></span><br/><br/>
      <span><strong>How much money can I earn from winning a game?</strong></span><br/>
      <span>The players who reached their gym goals in a game get to split the money from the players who didn't reach theirs. This amount completely depends on the number of players who didn't reach their gym goals in a game. If you end up not winning any money from a game, that's awesome news because that just means you and everyone else reached their goals!</span><br/><br/>
      <span><strong>How much money can I earn from a single workout?</strong></span><br/>
      <span>You can't earn money from a single workout, but you can <i>sometimes</i> win some awesome, free rewards like $1 Amazon.com MP3 credits, American Apparel discount coupons, or free glasses from Coastal.com. There's no extra effort on your part -- just keep using Fitsby to check in at your gym, and get rewarded for working out! (We've partnered with <a target="_blank" href="http://kiip.com">Kiip</a> to make this happen)</span></br><br/>
      <span><strong>How do I commit a wager in order to join a game?</strong></span><br/>
      <span>You can enter your credit and debit card information in the app (you will never be charged unless you lose your game).</a></span></br><br/>
      <span><strong>Is my credit card information secure?</strong></span><br/>
      <span>Absolutely! We never store any sensitive data on our servers; all payment processing is covered and secured by <a target="_blank" href="https://stripe.com/">Stripe</a>.</span></br><br/>      
      <span><strong>How does Fitsby pay me if I win?</strong></span><br/>
      <span>Once your game ends, we use <a target="_blank" href="https://www.paypal.com/home">PayPal</a> to send you your earnings. You will also receive an email confirmation notifying you of how much money you earned from winning your game.</span><br/><br/>
      <span><strong>What if I don't have a PayPal account?</strong></span><br/>
      <span>Payments will always be sent to the email address associated with your Fitsby account. You can claim your payment by adding this email address to an existing PayPal account or by creating a new PayPal account and linking it to this email address. You'll have 30 days to claim your payment before it is canceled automatically by PayPal.</span></br><br/><hr/><br/>

      <span class="boring-section-title"><strong>Miscellaneous</strong></span><br/><br/>

      <span><strong>How do you make sure that players don’t cheat?</strong></span><br/>
      <span>When you check in at the gym, your location coordinates are sent to us and we make sure that you are at a verified gym. Once checked in, you can only check out when you are at the same verified gym.</span><br/><br/>
      <span><strong>Does Fitsby make any money?</strong></span><br/>
      <span>We make a tiny amount of money when people don't reach their gym goals in a game. We collect 8% of the wager plus 50¢ from these players in order to cover payment processing fees and other administrative costs.</span></br><br/>
      <span><strong>For which countries is Fitsby available?</strong></span><br/>
      <span>The Fitsby mobile app is available for all countries, however, the interface and content are still English-only.</span><br/><br/>
      <span><strong>Who do I contact if I have questions?</strong></span><br/>
      <span>You can email us at <a href="mailto:team@fitsby.com">team@fitsby.com</a>.</span></br>      
      <span>&nbsp;</span>

      <hr/><br/><br/>
      <div class="footer">
        <p>
          <a href="index.html">Home</a>
          &nbsp;&nbsp;
          <a href="#" data-reveal-id="AboutModal">About</a>
          &nbsp;&nbsp;
          <a href="#" data-reveal-id="ContactModal">Contact</a>
          &nbsp;&nbsp;
          <a href="faq.html">FAQ</a>
          &nbsp;&nbsp;
          <a href="terms.html">Terms</a>
          &nbsp;&nbsp;
          <a href="privacy.html">Privacy</a>
          &nbsp;&nbsp;
          <a href="http://fitsby.posterous.com">Blog</a>
          &nbsp;&nbsp;
          <a href="https://www.facebook.com/pages/Fitsby/405270759527533" target="_blank"><img src="assets/images/facebook_icon.jpg" height="17px" style="top: 4px; position: relative;" alt=""></a>
          &nbsp; 
          <a href="http://twitter.com/fitsby" target="_blank"><img src="assets/images/twitter_icon.png" height="18px" style="top: 4px; position: relative" alt=""></a>
          &nbsp;&nbsp;
          &copy; 2012 Fitsby
        </p>
      </div>
      <br/><br/><br/><br/>
    </div>
  </div>

<!--START: MODALS-->
<div id="AboutModal" class="reveal-modal">
  <h2>About Me</h2>
    <br/>
    <p style="font-weight: none;">I, Fitsby, am currently in the process of motivating everyone and their friends to go to the gym more often, and have fun doing so. I was conceived on August 26, 2012 when my creators realized that they needed a creative way (<span style="color:green"><b>$$$</b></span>) to get their friends and family more excited about going to the gym.
    </p>
    <br/><br/>
  <h2>Meet My Makers</h2> 
    <br/>
    <div class="modal_header">
      <a href="http://www.linkedin.com/pub/daniel-gaeta/47/477/78a" target="_blank" style="text-decoration: none">
        <div><img src="assets/images/danny.jpg" class="picture" alt="Danny"></div>
        <div><strong>Daniel Gaeta</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Gym Rat</div>
    </div>
    <div class="modal_header">
      <a href="http://www.linkedin.com/pub/brent-hronik/3a/918/4a4" target="_blank" style="text-decoration: none">
        <div><img src="assets/images/brent.jpg" class="picture" alt="Brent"></div>
        <div><strong>Brent Hronik</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Bodybuilder</div>
    </div>
    <div class="modal_header">
      <a href="http://www.linkedin.com/in/kevinyun" target="_blank" style="text-decoration: none">
        <div><img src="assets/images/kevin.jpg" class="picture" alt="Kevin"></div>
        <div><strong>Kevin Yun</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Cutter</div>
    </div>
    <div class="modal_header">
   <a href="http://www.linkedin.com/pub/zack-chan/2b/9aa/a70" target="_blank" style="text-decoration: none">
        <div><img src="assets/images/zack.jpg" class="picture" alt="Zack"></div>
        <div><strong>Zack Chan</strong></div>
      </a>
      <div class="title">VP Marketing</div>
      <div class="role">Bulker</div>
    </div>
    <br/>
  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
  </div>
</div>

<div id="ContactModal" class="reveal-modal">
  <h2>Contact Us</h2>
  <br/>
  <p>
    You can reach us at <a href="mailto:team@fitsby.com" target="_blank">team@fitsby.com</a> or tweet us at <a href="http://twitter.com/fitsby" target="_blank">@fitsby</a>. We'll be quick to respond!
  </p>
  <br/>
  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
</div>
<!--  END MODALS -->

 <!-- Included JS Files (Uncompressed) -->
  <!--
  <script src="assets/javascripts/modernizr.foundation.js"></script>
  <script src="assets/javascripts/jquery.js"></script>
  <script src="assets/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="assets/javascripts/jquery.foundation.reveal.js"></script>
  <script src="assets/javascripts/jquery.foundation.orbit.js"></script>
  <script src="assets/javascripts/jquery.foundation.navigation.js"></script>
  <script src="assets/javascripts/jquery.foundation.buttons.js"></script>
  <script src="assets/javascripts/jquery.foundation.tabs.js"></script>
  <script src="assets/javascripts/jquery.foundation.forms.js"></script>
  <script src="assets/javascripts/jquery.foundation.tooltips.js"></script>
  <script src="assets/javascripts/jquery.foundation.accordion.js"></script>
  <script src="assets/javascripts/jquery.placeholder.js"></script>
  <script src="assets/javascripts/jquery.foundation.alerts.js"></script>
  -->

  <!-- Included JS Files (Compressed) -->
  <script src="assets/javascripts/foundation.min.js"></script>

  <!-- ClickTale Bottom part -->
  <div id="ClickTaleDiv" style="display: none;"></div>
  <script type="text/javascript">
  if(document.location.protocol!='https:')
    document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  if(typeof ClickTale=='function') ClickTale(3693,0.112,"www14");
  </script>
  <!-- ClickTale end of Bottom part -->

  <!--Google Analytics-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34606377-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!--GoSquared Analytics-->
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-040062-B";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>

</body>

</html>