
<!DOCTYPE html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <title>fitsby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat","Bitter"]
        }
      });
    </script><!-- Last Published: Wed Jul 10 2013 06:58:43 GMT+0000 (UTC) -->
    <link rel="stylesheet" type="text/css" href="http://landing.webflow.com/landing.css">
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51dcf201f79395d94900008b/2a4ae1dc-a888-45c6-ae73-e0ef4eb4eca9_fitsby_favicon.png">
  </head>
<body>
  <div class="section">
     
    <div class="w-container">
       
      <div class="w-row">
         
        <div class="w-col w-col-4 subfooter-left">
           
          <div class="app-name">Fitsby</div>
        </div>
        <div class="w-col w-col-8 nav-column">
           
          <a class="nav-link first" href="/about">About</a>
          <a class="nav-link" href="contact">Contact</a>
          <a class="nav-link" href="/faq">FAQ</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section hero">
     
    <div class="w-container">
       
      <div class="w-row">
         
        <div class="w-col w-col-6 phonecolumn">
           
          <img class="hero-iphone" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/f98c3e35-db48-490f-81e1-5effa7f0f7cc_framed_danny_pitch1.png" width="330px" height="650px"> </img>
        </div>
        <div class="w-col w-col-6">
           
          <h1 class="hero-header">An app that motivates you to workout.</h1>
          <p class="hero-subtitle">Be rewarded for working out, from your friends who didn&apos;t.</p>
          <a class="button" href="https://play.google.com/store/apps/details?id=com.fitsby">Go to App Store</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section white-bg" id="page-nav-organize">
     
    <div class="asseenontext">As seen on:</div>
    <div class="w-container">
       
      <div class="w-row">
         
        <div class="w-col w-col-6">
           
          <div class="w-row">
             
            <div class="w-col w-col-6">
               
              <div class="pubdiv1">
                 
                <img class="fox" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/f1ca1b88-067b-4201-a642-364856bcadff_foxnews.jpg" width="66px" height="40px"> </img>
              </div>
            </div>
            <div class="w-col w-col-6">
               
              <div>
                 
                <img class="lifehacker" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/99d448c6-6391-4ed1-aa02-06948c9eb144_lifehacker.png" width="143px" height="40px"> </img>
              </div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6">
           
          <div class="w-row">
             
            <div class="w-col w-col-6">
               
              <div class="pubdiv3">
                 
                <div class="w-row">
                   
                  <div class="w-col w-col-6 pub3">
                     
                    <img class="thenextweb" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/ea303876-3b66-4466-8279-878bbd493f3c_thenextweb.png"> </img>
                  </div>
                  <div class="w-col w-col-6">
                     
                    <img class="pcmag" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/c2b2c13f-67ff-41f8-a631-e509124e898f_pcmag.gif" width="36px" height="43px"> </img>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-6">
               
              <div>
                 
                <img class="theguardian" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/6362fe16-cece-4e10-866c-30b38fe90f70_theguardian.jpg"> </img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey-bg" id="page-nav-display">
     
    <div class="w-container">
       
      <div class="howitworkstext">Heres how it works:</div>
    </div>
    <div class="w-container">
       
      <div class="w-row">
         
        <div class="w-col w-col-4">
           
          <div class="divforicons">
             
            <img class="worksicon1" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/0a4eeadd-8506-4c25-9196-c39ec3b6266a_dumbbell_icon_black.png" width="100px" height="100px"> </img>
          </div>
        </div>
        <div class="w-col w-col-4">
           
          <div class="divforicons">
             
            <img class="worksicon" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/93d693c9-2482-44c1-9073-d95246ce6de3_iconmonstr-location-16-icon.png"> </img>
          </div>
        </div>
        <div class="w-col w-col-4">
           
          <div>
             
            <img class="worksicon3" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/47cfaed9-5939-47db-a0a6-e83d0aca282e_money_icon.png"> </img>
          </div>
        </div>
      </div>
    </div>
    <div class="w-container">
       
      <div class="w-row">
         
        <div class="w-col w-col-4">
           
          <div>
             
            <p>Challenge friends, or anyone else, to a game of gym check-ins. Wager money or play for fun.</p>
          </div>
        </div>
        <div class="w-col w-col-4">
           
          <div>
             
            <p>Check in at the gym using GPS. Work out for at least 30 minutes to successfully check out.</p>
          </div>
        </div>
        <div class="w-col w-col-4">
           
          <div>
             
            <p>When your game ends, be rewarded money from your friends who didn&apos;t meet their gym goals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="page-nav-share"> </div>
  <div class="section purple">
     
    <div class="w-container">
       
      <div class="w-row">
         
        <div class="w-col w-col-8">
           
          <h2 class="price-text">Coming soon to iOS!</h2>
        </div>
        <div class="w-col w-col-4">
           
          <a class="w-inline-block button app-store" href="http://www.apple.com">
             
            <img src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/e1883a6e-39ff-4eac-9277-66fd8ede46ad_2-btn-appstore.png" width="114px"> </img>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section white-bg subfooter">
     
    <div class="w-container">
       
      <div class="w-row">
         
        <div class="w-col w-col-6 left-column">
           
          <h3>Check out upcoming features.</h3>
          <a class="blog-link" href="#">Visit our blog</a>
        </div>
        <div class="w-col w-col-6 subfooter-right">
           
          <h3>Get updates about Fitsby.</h3>
          <a class="w-inline-block social-icon" href="mailto:team@fitsby.com?subject=Hello!">
             
            <img src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/0ebbdb2f-7fb6-4c01-9b1f-b90f5b675dbf_7a-social-email.png" width="21px"> </img>
          </a>
          <a class="w-inline-block social-icon" href="http://facebook.com/FitsbyApp">
             
            <img src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/6178b192-94cd-448f-9c5c-c55385ff9286_7b-social-facebook.png" width="21px"> </img>
          </a>
          <a class="w-inline-block social-icon last-icon" href="http://twitter.com/fitsby">
             
            <img src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/21750886-ef6f-461c-86de-ddae6dd582aa_7c-social-twitter.png" width="21px"> </img>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey-bg footer">
     
    <div class="w-container">
       
      <p class="footer-text">Made with love in Princeton, NJ.</p>
      <img class="logo-in-footer" src="http://hw-cdn-prod-assets.webflow.com/51dcf201f79395d94900008b/4ba690df-2ae6-4459-903e-238c6569b152_logo-footer.png" width="25px"> </img>
    </div>
  </div>
</body>

</html>