<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='63827311-5',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <meta charset="utf-8" />
  <meta name="description" content="An app that motivates you to go to the gym. Earn money for going to the gym, paid for by your friends who didn't go.">
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <meta name="p:domain_verify" content="e67d223c52e4486661b839bb539cf212" />  
  <title>Fitsby - Stay motivated to hit the gym!</title>
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="stylesheets/foundation.css">  
  <link rel="stylesheet" href="stylesheets/custom.css">
  <script src="javascripts/modernizr.foundation.js"></script>  

  <link rel="shortcut icon" href="images/favicon.ico"> 
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/favicon.png"> 

  <!--Facebook Open Graph stuff-->
  <meta property="og:title" content="Fitsby" />
  <meta property="og:image" content="http://fitsby.com/images/Fitsby_Logo.png" />
  <meta property="og:description" content="Win money by going to the gym more than your friends."/>
  <meta property="og:url" content="http://fitsby.com"/> 
  <meta property="og:type" content="company"/>
  <meta property="og:site_name" content="Fitsby"/>  
  <meta property="fb:app_id" content="193737430754729"/>  

  <!--ACKNOWLEDGEMENTS:
      *<a href="http://thenounproject.com/noun/dumbbell/#icon-No827" target="_blank">Dumbbell</a> designed by <a href="http://thenounproject.com/mariecoons" target="_blank">Marie Coons</a> from The Noun Project
      *<a href="http://thenounproject.com/noun/money/#icon-No2959" target="_blank">Money</a> designed by <a href="http://thenounproject.com/Luis" target="_blank">Luis Prado</a> from The Noun Project
      <a href="http://thenounproject.com/noun/add-friend/#icon-No8459" target="_blank">Add Friend</a> designed by <a href="http://thenounproject.com/jardsonaraujo" target="_blank">Jardson Araújo</a> from The Noun Project

      BIG thanks to Jake Wharton for libraries:
      ActionBarSherlock used for Android (http://actionbarsherlock.com/index.html)
      ViewPagerIndicator used for Android (http://viewpagerindicator.com/)
  -->
</head>


<body>

  <!-- Hi there. Enjoying the source code? We're always on the lookout for people to come work with us. Android. iOS. Rails. Frontend or Backend. If we strike you as a couple of guys you'd like to hang with, come join us! Just drop us a line at team@fitsby.com -->

  <!-- ClickTale Top part -->
  <script type="text/javascript">
  var WRInitTime=(new Date()).getTime();
  </script>
  <!-- ClickTale end of Top part -->

  <!--Facebook js-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=193737430754729";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!--end FB javascript-->
  
  <div id="gym_background"></div>

  <div id="wrapper">

    <div>
      <img id="fitsby_phone" src="images/android_template2.png" alt="Fitsby">
    </div>

    <div class="carousel_wrapper">
      <ul class="carousel"> 
        <li><img src="images/games.png" alt="Games"></li><!--replace image-->
        <li><img src="images/newsfeed.png" alt="Newsfeed"></li> <!--replace image-->                
        <li><img src="images/checkin.png" alt="Check In"></li> <!--replace image-->
      </ul>
    </div>

    <div class="header"> <!--add class box to add opacity box around text -->
      <p style="font-size: 10px;">&nbsp;</p>
      
      <!--invisible logo and text_logo on desktop screen size -->
      <img id="invisible_logo" src="images/icon_and_text_white.png" alt="Fitsby">
      <!-- end invisible logos -->

      <p id="main_phrase"><strong>An app that motivates you to go to the gym.</strong></p>
      <br/>
      <p id="second_phrase"><strong>Be rewarded for reaching your workout goal, from your friends who didn't reach theirs.</strong></p>     
      <br/>
      <p id="sign_up_text">Download the free mobile app for:</p> 
      <p style="height:10px">&nbsp;</p>

      <!-- Begin PlayStore and App Store buttons -->
      <a href="https://play.google.com/store/apps/details?id=com.fitsby" class="button" id="android_button_wrapper" style="width: 160px; padding: 20px; border-radius: 5px; float: left;"
        onclick="_gaq.push(['_trackEvent', 'href', 'Android', 'Google Play Store link']);"
        ><img id="android_image" style="border: 0" src="images/android_button_default.png" alt="Android"></a>
      &nbsp;
      <a id="iphone_button_wrapper" href="http://eepurl.com/tjK05"
        onclick="_gaq.push(['_trackEvent', 'href', 'iOS', 'Mailchimp iOS Waitlist']);">
        <img id="coming_soon_ribbon" src="images/coming_soon_ribbon.png" style="border:0; height: 50px; position: absolute; z-index: 1; margin-left: -1px; margin-top: -1px;">
        <div class="button" style="width: 160px; padding: 20px; border-radius: 5px;"><img id="ios_image" style="border: 0" src="images/iOS_button_default.png" alt="iPhone"></div>
      </a>
      <!--end buttons-->
    </div>
  </div>

  <div>
    <div id="second_half_of_site">  
      <p id="boss_column_header">As seen on:<br/><br/>
        <a class="article" target="_blank" href="http://www.myfoxchicago.com/story/20555466/exercise-app-fitsby-uses-friendly-competition-as-work-out-motivation"><img src="images/foxnews.jpg" alt="Fox News Chicago"></a>
        <a class="article" target="_blank" href="http://lifehacker.com/5973684/fitsby-puts-real-money-on-the-line-to-make-sure-you-and-your-friends-go-to-the-gym"><img src="images/lifehacker.png" alt="Lifehacker"></a>
        <a class="article" target="_blank" href="http://thenextweb.com/apps/2013/01/04/fitsby-this-android-app-lets-you-challenge-your-friends-to-a-game-of-gym-check-in-you-win-by-going-the-most/"><img src="images/thenextweb.png" alt="TheNextWeb"></a>
        <a class="article" target="_blank" href="http://www.pcmag.com/slideshow/story/292474/the-best-fitness-apps/6"><img src="images/pcmag.gif" alt="PCMag"></a>        
        <a class="article" target="_blank" href="http://www.guardian.co.uk/technology/appsblog/2013/jan/04/best-android-apps-antiques-roadshow"><img src="images/theguardian.jpg" alt="The Guardian UK"></a>
        <a class="article" target="_blank" href="http://tech.co/fitsby-go-to-the-gym-and-compete-with-your-friends-2012-11"><img src="images/techcocktail1.jpeg" alt="TechCocktail"></a>
        <br/><br/><br/>
        Here's how it works:</p>
      <div class="bottom_columns_div">
        <p><img src="images/dumbbell_icon.png" alt="Dumbbell"> </p>
        <p class="bottom_columns_header"><strong>Make it a game</strong></p><br/>
        <p class="bottom_columns_text">Challenge friends, or anyone else, to a game of gym check-ins. Wager money or play for fun.</p>
      </div>
      <div class="bottom_columns_div">
        <p><img src="images/checkin_icon.png" alt="Check In"> </p>
        <p class="bottom_columns_header"><strong>Hit the gym</strong></p><br/>
        <p class="bottom_columns_text">Check in at the gym using GPS. Work out for at least 30 minutes to successfully check out.</p>
      </div>
      <div class="bottom_columns_div">
        <p><img src="images/money_icon.png" alt="Money"> </p>
        <p class="bottom_columns_header"><strong>Stay motivated</strong></p><br/>
        <p class="bottom_columns_text">When your game ends, be rewarded money from your friends who didn't meet their gym goals.</p>
        <br/><br/><br/>
      </div>
      <p id="boss_column_bottom"><a id="faq_link" href="faq.html"><strong>Learn more by reading our Frequently Asked Questions</strong></a></p><br/><br/>
      <hr/><br/><br/>
      <div class="footer">
        <p>
          <a href="index.html">Home</a>
          &nbsp;&nbsp;
          <a href="#" data-reveal-id="AboutModal" 
          onclick="_gaq.push(['_trackEvent', 'href', 'About', 'About modal']);">About</a> <!--Google Analytics tracking event click on About-->
          &nbsp;&nbsp;        
          <a href="#" data-reveal-id="ContactModal"
          onclick="_gaq.push(['_trackEvent', 'href', 'Contact', 'Contact modal']);">Contact</a> <!--Google Analytics tracking event click on Contact -->
          &nbsp;&nbsp;
          <a href="faq.html">FAQ</a>
          &nbsp;&nbsp;
          <a href="terms.html">Terms</a>
          &nbsp;&nbsp;  
          <a href="privacy.html">Privacy</a>
          &nbsp;&nbsp; 
          <a href="http://fitsby.posterous.com"
          onsubmit="that=this;_gaq.push(['_trackEvent','href','Blog','Posterous Blog']);setTimeout(function() { that.submit() }, 200);return false;" >Blog</a>
          &nbsp;&nbsp;
          <a href="https://www.facebook.com/pages/Fitsby/405270759527533" target="_blank"><img src="images/facebook_icon.jpg" height="17px" style="top: 4px; position: relative;" alt=""></a>
          &nbsp; 
          <a href="http://twitter.com/fitsby" target="_blank"><img src="images/twitter_icon.png" height="18px" style="top: 4px; position: relative" alt=""></a>
          &nbsp;&nbsp;
          &copy; 2012 Fitsby
          <br/><br/>
          <!--<span class="fb-like" data-href="http://facebook.com/FitsbyApp" data-send="false" data-width="100" data-show-faces="false" data-layout="button_count" data-font="arial"></span>-->
          <span id="made_with_love">&nbsp;Crafted with <img src="images/heart.jpg" alt="love"> in Champaign, IL&nbsp;</span>
        </p>
      </div>
    <br/><br/><br/><br/>

  </div>

<!--START: MODALS-->
<div id="AboutModal" class="reveal-modal">
  <h2>About Me</h2>
    <br/>
    <p style="font-weight: none;">I, Fitsby, am currently in the process of motivating everyone and their friends to go to the gym more often, and have fun doing so. I was conceived on August 26, 2012 when my creators realized that they needed a creative way (<span style="color:green"><b>$$$</b></span>) to get their friends and family more excited about going to the gym.
    </p>
    <br/><br/>
  <h2>Meet My Makers</h2> 
    <br/>
    <div class="modal_header">
      <a href="http://www.linkedin.com/pub/daniel-gaeta/47/477/78a" target="_blank" style="text-decoration: none">
        <div><img src="images/danny.jpg" class="picture" alt="Danny"></div>
        <div class="name"><strong>Daniel Gaeta</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Gym Rat</div>
    </div>
    <div class="modal_header">
      <a href="http://www.linkedin.com/pub/brent-hronik/3a/918/4a4" target="_blank" style="text-decoration: none">
        <div><img src="images/brent.jpg" class="picture" alt="Brent"></div>
        <div class="name"><strong>Brent Hronik</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Bodybuilder</div>
    </div>
    <div class="modal_header">
      <a href="http://www.linkedin.com/in/kevinyun" target="_blank" style="text-decoration: none">
        <div><img src="images/kevin.jpg" class="picture" alt="Kevin"></div>
        <div class="name"><strong>Kevin Yun</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Cutter</div>
    </div>
    <div class="modal_header">
   <a href="http://www.linkedin.com/pub/zack-chan/2b/9aa/a70" target="_blank" style="text-decoration: none">
        <div><img src="images/zack.jpg" class="picture" alt="Zack"></div>
        <div class="name"><strong>Zack Chan</strong></div>
      </a>
      <div class="title">VP Marketing</div>
      <div class="role">Bulker</div>
    </div>
  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
  </div>
</div>

<div id="ContactModal" class="reveal-modal">
  <h2>Contact Us</h2>
  <br/>
  <p>
    You can reach us at <a href="mailto:team@fitsby.com" target="_blank">team@fitsby.com</a> or tweet us at <a href="http://twitter.com/fitsby" target="_blank">@fitsby</a>. We'll be quick to respond!
  </p>
  <br/>
  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
</div>
<!--  END MODALS -->


  <!-- Included JS Files (Uncompressed) -->
  <!--
  <script src="javascripts/modernizr.foundation.js"></script>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  <script src="javascripts/jquery.foundation.forms.js"></script>
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  <script src="javascripts/jquery.placeholder.js"></script>
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/foundation.min.js"></script>
  <script src="javascripts/simple.carousel.js"></script>

  <!-- image carousel (https://github.com/SSilence/simple.carousel) -->
  <script type="text/javascript"> 
  jQuery(document).ready(function() {
      // initialize carousel
      $(".carousel").simplecarousel({
          next: $('.next'),
          prev: $('.prev'),
          slidespeed: 800,
          auto: 6000,
          width: 241, // change in css file too
          height: 398
      });
  });
  </script> 
  <!-- END carousel -->

  <!--JS for Twitter tweet button plugin -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
  <!-- ClickTale Bottom part -->
  <div id="ClickTaleDiv" style="display: none;"></div>
  <script type="text/javascript">
  if(document.location.protocol!='https:')
    document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  if(typeof ClickTale=='function') ClickTale(3693,0.112,"www14");
  </script>
  <!-- ClickTale end of Bottom part -->

  <!--Google Analytics-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34606377-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!--GoSquared Analytics-->
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-040062-B";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>

  <!--Spinnakr-->
  <!--<script>var _spinnakr_site_id="798973156";(function(d,t,a){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g[a]=a;g.src='//s5.spn.ee/js/so.js';s.parentNode.insertBefore(g,s)}(document,'script','async'))</script>-->

</body>

</html>

          <!--social media buttons -->
          <!--<br/><br/>
          <div class="fb-like" data-href="http://facebook.com/FitsbyApp" data-send="false" data-width="100" style="position: absolute" data-show-faces="false" data-layout="button_count" data-font="arial"></div>
          <a style="padding-top: 5px" href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://fitsby.com" data-text="Need gym motivation? Try @fitsby! It's an app that motivates you to go workout.">Tweet</a>-->


