<% provide(:title, 'Privacy') %>

<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link href="stylesheets/custom.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/faq-terms-privacy.css">
  <meta name="description" content="Fitsby - Privacy Policy">

  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="images/favicon.ico"> 
  <title>Fitsby - Privacy Policy</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- ClickTale Top part -->
  <script type="text/javascript">
  var WRInitTime=(new Date()).getTime();
  </script>
  <!-- ClickTale end of Top part -->

    <div class="boring-body">
      <br/>
      <a href="index.html"><img id="invisible_logo" src="images/icon_and_text_gold.png" alt="Fitsby"></a><br/><br/>
      <span id ="boring-title"><strong>Privacy Policy</strong></span><br/><br/>
      <span><span>
      
      <div class="boring-content"><hr/><br/>
      <i>Last updated on Thursday, February 7, 2013.</i><br/><br/>
      
      We care about how your personal information is used and shared, especially when it comes to private location information, and we want you to know that we keep your confidential information private. Please read below to learn how we go about this. By visiting the Fitsby website (including any related websites we control), you are accepting the practices outlined in this Privacy Policy. If you have any questions concerning our privacy policy, please contact us.<br/><br/>

      <strong>What this Policy Covers</strong><br/>
      This Privacy Policy covers Fitsby’s treatment of personal information that Fitsby gathers when you are using the Fitsby website and also when you use Fitsby’s services. This policy does not apply to the practices of third parties that Fitsby does not own or control, or to individuals that Fitsby does not employ or manage.<br/><br/>

      <strong>Information Collected by Fitsby</strong><br/>
      We collect the following types of information from our users:<br/>
      <ol type="A">
        <li>Information You Provide to Us. We receive and store information that you enter on our website or provide to us in other ways. You can choose not to submit certain information, but the tradeoff is that you may not be able to take advantage of certain of our site’s features.</li>
        <ol type="1">
          <li>Registration: In order for you to use Fitsby services you must create an account by completing a registration form. As part of this registration form, we require select personal information (including your name, email address, etc.).</li>
          <li>User Profile: To allow you to express yourself beyond just the information collected during registration, we enable you to provide additional information in your User Profile. This information may include your location, your birth date, your gym practices, and other interests. You may also post photos in your Profile.</li>
          <li>Player Profile: To use Fitsby, a user may supply personal information such as age, gender, wager amount, etc. In some cases, Fitsby will also collect payment information (such as credit card number, expiration date, or bank account numbers for Automated Clearing House (ACH) transfers).</li>
          <li>Orders. If you purchase a product or service through Fitsby, then we will collect billing information (such as credit card number, expiration date, or bank account numbers) and address information (such as name, email address, and shipping address).</li>
          <li>Automatic Information. We receive and store certain types of information whenever you interact with us. Fitsby and its authorized agents automatically receive and record certain traffic data on their server logs from your browser including your IP address, Fitsby cookie information, queries, and the page you requested. Fitsby uses this traffic data to help diagnose problems with its servers, to analyze trends and to administrate the website. Fitsby may collect and display various aggregate counts of the times that pages have been viewed. This includes User Profile pages.</li>
          <li>In addition, User information and behavior may be monitored on the web by: Google Analytics, ClickTale Analytics, GoSquared Analytics. Also, User information and behavior may be monitored on Android by Flurry SDK Analytics.</li>
        </ol>
        <li>Use of information by Fitsby. Fitsby uses your information to contact you about your involvement or potential involvement in a game; to bill users who have agreed to play or purchase products through our site; to fulfill product orders; to contact you about Fitsby-related news, features, products, surveys, promotions, updates, case-studies, and/or special offers; to facilitate social networking and game set-up (e.g. posting on your Facebook feed, sending friend requests and notifications, creating groups of users with similar goals, or Referee and Cheerleader requests); to serve ads tailored to your stated interests and goals; and, without using personally identifiable information, to analyze and report success trends.</li>
      </ol><br/>

      <strong>Email Communications</strong><br/>
      <ol type="1">
        <li>We will send you a welcome email after you have registered with Fitsby  based upon the personally identifiable information that you provide us. Fitsby also sends out emails to respond to your inquiries and you message board posts, to manage your account, and to facilitate the actions described above in the “Use of information by Fitsby” section. You may receive notification emails from Fitsby, which inform you of actions performed on the site (e.g. Cheerleader requests and notifications). Unless you opt out, we also send motivational newsletters and messages to people playing in our games (e.g., our Daily Carrot newsletter, coaching messages).</li>
        <li>If you have provided us information to invite a third party to the site or to be your Referee or Cheerleader, then we will automatically send that third party email inviting him or her to visit the site. Your friend may contact us here or through the link on the bottom of the email to request that we remove their information from our database.</li>
      </ol><br/>

      <strong>Cookies</strong><br/>
      <ol type="1">
        <li>Cookies are alphanumeric identifiers that are transferred to your computer’s hard drive through your web browser for the purpose of record-keeping. We use cookies to identify our registered users and to store session specific information, such as your username. At the user’s option, our cookies may remain on your hard drive for an extended period of time to facilitate login. We do not link the information we store in cookies to any personally identifiable information you submit while on our site.</li>
        <li>The "help" portion of the toolbar on the majority of browsers will direct you on how to prevent your browser from accepting new cookies, how to command the browser to tell you when you receive a new cookie, or how to fully disable cookies. Although you may reject our cookies and still use our site, we recommend that you leave the cookies activated because cookies allow you to use some of Fitsby’s best features.</li>
        <li>We use both session ID cookies and persistent cookies. We use session cookies to make it easier for you to navigate our site and to control access to certain parts of our site. A session ID cookie expires when you close your browser. We set a persistent cookie to store your passwords, so you don’t have to enter it more than once. Persistent cookies also enable us to track and target the interests of our users to enhance the experience of our site. A persistent cookie remains on your hard drive for an extended period of time.</li>
        <li>Our vendors and affiliates also use cookies to enable their systems to recognize your browser and tell them how and when pages in our website are visited and by how many people. That information, which is provided to us, is not personally identifiable. In addition, some of our business partners, like our advertisers, may use cookies on our website. We have no access to or control over these cookies. The use of cookies by third parties is not covered under our privacy statement.</li>
        <li>Cookies, while delicious, are not conducive to winning your Fitsby, except and unless served to your competitors.</li>
      </ol><br/>

      <strong>Online Advertising</strong><br/>
      <ol type="1">
        <li>We may use third party advertising companies to serve you advertisements when you visit our site. These companies may use cookies, pixel tags, or other methods to collect non-personally identifiable information about your visits to our website and other websites. This provides you with advertisements about products, services, and events that may be of interest to you.</li>
        <li>If you would like more information about this practice or want to know about the choice you have in withholding information from these third party companies, click here to visit the Network Advertising Initiative's website. You can also learn how to opt out of third-party advertisers' tracking methods in conjunction with links, online ads, etc. by visiting the advertisers' sites.</li>
      </ol><br/>

      <strong>Sharing Your Information</strong><br/>
      Fitsby enables people to discover and share information with one another, and information about the people who use Fitsby is very important to us. Although we may share non-personal information, such as aggregate user statistics, demographic information, and website usage information with third parties, rest assured that we will share your personally identifiable information only as described below:<br/>
      <ol type="1">
        <li>Fitsby Personnel and Affiliates: Fitsby personnel, approved academic researchers, authorized consultants and/or contractors may have access to user information if necessary in the normal course of Fitsby business and/or research. This means that user information, including name, address, phone number, credit card details and Commitment Contract details may be used for the following reasons: responding to user requests, ensuring smooth operation of games, and/or modifying our games product to increase users’ success rates. We may solicit your participation in research, developing case-studies, and success stories.</li>
        <li>We may also use your personal information to place you in a Full-Service Game with strangers. Being placed in a Full-Service Game may thus imply certain private information about you even though this information is not made explicitly public. We do this in order to match you with other people in similar conditions and to make a better, more enjoyable game.</li>
        <li>Agents/Service Providers: Fitsby employs third parties to perform functions on our behalf. Examples include hosting or operating the Fitsby website, fulfilling orders for products and services purchased through the Fitsby websites, sending e-mail and/or other communications, providing wireless services, removing repetitive information from customer lists, data analysis, marketing assistance, credit card payment processing, and customer service. These third parties may have access to your personal information for the purpose of performing such functions on Fitsby’s behalf.</li>
        <li>Business Transfers: In some cases, we may choose to buy or sell . In these types of transactions, user information is typically one of the business  that is transferred. If Fitsby or all of its  were acquired, user information would be one of the  that is transferred.</li>
        <li>Protection of Fitsby and Others: We may release personal information when we believe in good faith that release is necessary to comply with the law; to enforce our Terms of Service; or to protect the rights, property, or safety of Fitsby, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. We also reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process served on Fitsby.</li>
        <li>User Profile information: Information collected during registration and subsequent visits, such as your full name and location, may be displayed to other Fitsby users in your User Profile. The User Profile is the area on Fitsby where we allow you to tell other Fitsby users about yourself and your interests. You may control what personal information is displayed in your User Profile. API: Fitsby will allow third parties access to all Fitsby data that is already publicly available through the Fitsby website. Fitsby will keep passwords private.</li>
        <li>E-Commerce: Fitsby may allow users to choose to share information with third parties, including marketers or electronic commerce providers through on-site offers.</li>
        <li>Affiliate Entities: Fitsby may also provide your personally identifiable information to your affiliated company if you have entered an Affiliate Code during registration or are otherwise a user of our corporate portal.</li>
        <li>With Your Consent: Except as noted above, Fitsby will not provide users' personally identifiable information to third parties or use it for a purpose incompatible with the purpose(s) for which it was originally collected without their prior permission.</li>
      </ol><br/>

      <strong>Keeping Information Secure</strong><br/>
      <ol type="1">
        <li>The security of your information is of paramount importance to us. Your Fitsby account information is protected by a password for your privacy and security. In addition, we follow generally accepted industry standards to protect the personal information of our users, both during transmission and after we receive it. Fitsby strives to use commercially acceptable means to protect your personal information, including use of encryption, firewalls, and hashing on select types of information collected by Fitsby. When you enter sensitive information (such as credit card numbers or bank account information) during the sign-up process or on our order forms, we encrypt your information during transmission using 128 bit secure socket layer technology (SSL). No method of transmission or electronic storage is 100% secure, however, so Fitsby cannot guarantee absolute security.</li>
        <li>You can enhance your security by protecting against unauthorized access to your password and to your computer by logging off once you have finished using a shared computer.</li>
        <li>Only employees who need personal information to perform a specific job (for example, a customer service representative) are granted access to it. All of our employees are kept up to date on our privacy and security practices.</li>
      </ol><br/>

      <strong>Ways to Control Display and Use of Your Information</strong><br/>
      <ol type="1">
        <li>You can always opt not to disclose information, but then you may be unable to use certain features on our website.</li>
        <li>By visiting your User Profile, you can correct, amend, add, or delete personally identifiable information on our website. When you update information, however, we often maintain a copy of the unrevised information in our records as part of our normal back-up procedures and so that we can comply with any future requests for such information in conjunction with future legal proceedings.</li>
        <li>You may request access to any Personal Information that we have collected that is not available on your User Profile page so that you may correct any inaccuracies or request deletion of that information; we will respond to your request within 15 business days.</li>
        <li>You may also request deletion of your Fitsby account by contacting us. We will respond to requests within 15 business days.</li>
      </ol><br/>

      <strong>Children</strong><br/>
      <ol type="1">
        <li>13 to 18 Years of Age. We recommend that children age 13 to 18 talk with their parents before posting information about themselves on the Internet or playing in competitive gym going games such as Fitsby.</li>
        <li>Under 13 Years of Age. Children under age 13 are prohibited from registering to use the Fitsby website and mobile app(s). If you are under 13 years old, please do not attempt to register with this site or send any information about yourself to us. Fitsby does not knowingly allow users under age 13 to register nor does Fitsby knowingly collect information about children under age 13. If we learn that Fitsby has collected information from a child under the age of 13, we will delete that information immediately. If you believe that Fitsby may have information from or about a child under 13 years old, please contact us.</li>
      </ol><br/>

      <strong>Changes to this Privacy Policy</strong><br/>
      Fitsby may amend this Privacy Policy from time to time, at its sole discretion. Use of information that we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make material changes to the Privacy Policy, we will notify you here, by email, or by posting an announcement on the Fitsby website so you are may stay up-to-date on what information we collect, how we use it, and under what circumstances if any, it is disclosed.<br/><br/>

      <strong>Conditions of Use</strong><br/>
      If you decide to visit Fitsby’s website, your visit and any possible dispute over privacy is subject to this Privacy Policy and our Terms of Service, including limitations on damages, arbitration of disputes, and application of Illinois law.<br/><br/>

      <strong>Effective Date of this Privacy Policy</strong><br/>
      This Privacy Policy is effective as of November 5, 2012.<br/><br/>

      <hr/><br/><br/>
      <div class="footer">
        <p>
          <a href="index.html">Home</a>
          &nbsp;&nbsp;
          <a href="#" data-reveal-id="AboutModal">About</a>
          &nbsp;&nbsp;
          <a href="#" data-reveal-id="ContactModal">Contact</a>
          &nbsp;&nbsp;
          <a href="faq.html">FAQ</a>
          &nbsp;&nbsp;
          <a href="terms.html">Terms</a>
          &nbsp;&nbsp;
          <a href="privacy.html">Privacy</a>
          &nbsp;&nbsp;          
          <a href="http://fitsby.posterous.com">Blog</a>
          &nbsp;&nbsp;          
          <a href="https://www.facebook.com/pages/Fitsby/405270759527533" target="_blank"><img src="images/facebook_icon.jpg" height="17px" style="top: 4px; position: relative;" alt=""></a>
          &nbsp; 
          <a href="http://twitter.com/fitsby" target="_blank"><img src="images/twitter_icon.png" height="18px" style="top: 4px; position: relative" alt=""></a>
          &nbsp;&nbsp;
          &copy; 2012 Fitsby
        </p>
      </div>
      <br/><br/><br/><br/>
    </div>
  </div>

<!--START: MODALS-->
<div id="AboutModal" class="reveal-modal">
  <h2>About Me</h2>
    <br/>
    <p style="font-weight: none;">I, Fitsby, am currently in the process of motivating everyone and their friends to go to the gym more often, and have fun doing so. I was conceived on August 26, 2012 when my creators realized that they needed a creative way (<span style="color:green"><b>$$$</b></span>) to get their friends and family more excited about going to the gym.
    </p>
    <br/><br/>
  <h2>Meet My Makers</h2> 
    <br/>
    <div class="modal_header">
      <a href="http://www.linkedin.com/pub/daniel-gaeta/47/477/78a" target="_blank" style="text-decoration: none">
        <div><img src="images/danny.jpg" class="picture" alt="Danny"></div>
        <div><strong>Daniel Gaeta</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Gym Rat</div>
    </div>
    <div class="modal_header">
      <a href="http://www.linkedin.com/pub/brent-hronik/3a/918/4a4" target="_blank" style="text-decoration: none">
        <div><img src="images/brent.jpg" class="picture" alt="Brent"></div>
        <div><strong>Brent Hronik</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Bodybuilder</div>
    </div>
    <div class="modal_header">
      <a href="http://www.linkedin.com/in/kevinyun" target="_blank" style="text-decoration: none">
        <div><img src="images/kevin.jpg" class="picture" alt="Kevin"></div>
        <div><strong>Kevin Yun</strong></div>
      </a>
      <div class="title">Co-Founder</div>
      <div class="role">Cutter</div>
    </div>
    <div class="modal_header">
   <a href="http://www.linkedin.com/pub/zack-chan/2b/9aa/a70" target="_blank" style="text-decoration: none">
        <div><img src="images/zack.jpg" class="picture" alt="Zack"></div>
        <div><strong>Zack Chan</strong></div>
      </a>
      <div class="title">VP Marketing</div>
      <div class="role">Bulker</div>
    </div>
    <br/>
  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
  </div>
</div>

<div id="ContactModal" class="reveal-modal">
  <h2>Contact Us</h2>
  <br/>
  <p>
    You can reach us at <a href="mailto:team@fitsby.com" target="_blank">team@fitsby.com</a> or tweet us at <a href="http://twitter.com/fitsby" target="_blank">@fitsby</a>. We'll be quick to respond!
  </p>
  <br/>
  <a class="close-reveal-modal" style="color: #333333; top: 15px">×</a>
</div>
</div>
<!--  END MODALS -->

 <!-- Included JS Files (Uncompressed) -->
  <!--
  <script src="javascripts/modernizr.foundation.js"></script>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  <script src="javascripts/jquery.foundation.forms.js"></script>
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  <script src="javascripts/jquery.placeholder.js"></script>
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  -->

  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/foundation.min.js"></script>

  <!-- ClickTale Bottom part -->
  <div id="ClickTaleDiv" style="display: none;"></div>
  <script type="text/javascript">
  if(document.location.protocol!='https:')
    document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  if(typeof ClickTale=='function') ClickTale(3693,0.112,"www14");
  </script>
  <!-- ClickTale end of Bottom part -->

  <!--Google Analytics-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34606377-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!--GoSquared Analytics-->
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-040062-B";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>

</body>

</html>