<% provide(:title, 'Terms of Service') %>


<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="./foundation.css.scss">
  <link href="./custom.css.scss" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="./faq-terms-privacy.css">
  <meta name="description" content="Fitsby - Terms of Service">

  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/assets/favicon.ico"> 
  <title>Fitsby - Terms of Service</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- ClickTale Top part -->
  <script type="text/javascript">
  var WRInitTime=(new Date()).getTime();
  </script>
  <!-- ClickTale end of Top part -->

    <div class="boring-body">
      <br/>
      <a href="http://fitsby.com"><img id="invisible_logo" src="/assets/icon_and_text_gold.png" alt="Fitsby"></a><br/><br/>
      <span id ="boring-title"><strong>Terms of Service</strong></span><br/><br/>
      
      <div class="boring-content"><hr/><br/>

      <span><strong>1. ACCEPTANCE OF TERMS</strong></span><br/>
      <span>Fitsby, Inc. (hereafter, “Fitsby” or the “Company”) owns and operates the http://fitsby.com site, together with any software applications (including mobile applications) that are made available by Fitsby (Apps), and together with all content, forums, information sharing functions (including the ability to post User-generated content, User Content), tools, transactions and other services available at the Site, are collectively referred to as the Service. Except certain aspects of the Service that may be available to Public Users, the Service is provided only to Clients (as such terms are defined below).<br/><br/>The following are the current terms and conditions for any and all use of the Service. The Service is offered subject to acceptance without modification of all of the terms and conditions contained herein (Terms of Service). The Terms of Service shall be deemed to include all other operating rules, policies and procedures that are referred to herein or in any App or that may otherwise be published by Fitsby at the Site from time to time (collectively, Policies), including without limitation, the following Policies:<br/><br/>
      <ul>
        <li>Games terms and service</li>
        <li>Reward Terms and service</li>
        <li>Privacy</li>
        <li>Copyright</li>
      </ul>
      </span><br/>

      <span><strong>2. TERM</strong></span><br/>
      <span>This Agreement will remain in full force and effect while you use the Site and/or are a registered member. The Company may terminate your membership, delete your profile and any content or information that you have posted on the Site and/or prohibit you from using or accessing the Site (or any portion, aspect or feature of the Site) for any reason , or no reason, at any time at in its sole discretion, with or without notice, including if it believes that you are under 18. You may terminate your membership at any time for any reason provided that if you are in an ongoing Fitsby game you will continue to be bound by the terms of that game until that game terminates. Even after your membership is terminated, certain sections of this Agreement will remain in effect; see Section 13.f below for a list of the provisions of this Agreement that will survive the termination of your membership.<br/><br/>

      <span><strong>3. CHANGES</strong></span><br/>
      <span>Fitsby reserves the right, at its sole discretion, to modify or replace the Terms of Service (including any Policy), in whole or in part, at any time. Fitsby will use reasonable efforts to notify Users of any material change at least 30 days in advance of the effective date of any change. Change notices will be communicated by postings at the Site, via the Apps or, in the case of Clients, Fitsby may also attempt to notify Clients by electronic mail. In any case, Users should periodically check the Terms of Service for changes. Continued use of the Service following any such notice of any change to the Terms of Service shall constitute User's acceptance of those changes. The Terms of Service may not otherwise be amended, except by a written agreement executed by User and Fitsby.
      Fitsby may modify or terminate the Site, any App or other aspect of the Service, in whole or in part, at any time.<br/><br/>

      <span><strong>4. ELIGIBILITY </strong></span><br/>
      <span>As used herein, the term User means you.<br/><br/>
      The Service is available only to individuals who are at least 18 years old who can form legally binding contracts under applicable law. You hereby represent and warrant to Fitsby that you meet the foregoing qualifications. If you do not so qualify, you are prohibited from accessing, using or registering for the Service. In any event, Fitsby will not collect personally identifiable information from any person that is actually known to us to be under the age of 13. If Fitsby becomes aware that a person under 13 has provided personally identifiable information, it will take reasonable steps to remove such information and terminate the respective account.<br/><br/>
      Users include all registered and unregistered users that access or use the Site, any App or other aspect of the Service. Each User that properly completes the registration process shall be considered a Client for the purposes of the Terms of Service. Users that do not complete the registration process, or whose registration is not accepted, shall be considered Public Users. Public Users will have limited access to the Service, if at all.
      Fitsby may refuse to offer or continue offering the Service to any person and may change its eligibility criteria from time to time.
      <br/><br/>
      
      <span><strong>5. REGISTRATION</strong></span><br/>
      <span>To become a Client, the User must complete the registration process by providing Fitsby (or its service providers, like payment processors) with current, complete and accurate information, as more specifically required by the then current registration procedures. By way of illustration and not limitation: to register, prospective Clients may be required to specify a username and password, and to provide your name, address, zip code, legitimate electronic mail address and certain additional information (such as, for example, your preferred contact method and goods and services that may be of interest); in order to obtain certain aspects of the Service, Users may also elect to provide access information related to his or her accounts at social networking sites (such as, for example, Twitter and Facebook); and in order to obtain certain Transaction services (such as, for example, in order to establish Games), Users will be required to provide valid credit card, bank account, PayPal account and/or mobile telephone account information for billing and rewards purposes. Clients shall maintain and update their registration data from time to time, to ensure that it is always current, complete and accurate. Users may apply for registration using the Fitsby mobile app. At its sole discretion, Fitsby may refuse to accept any User's application to register as a Client.<br/><br/>
      Upon acceptance, Fitsby will provide access credentials to the Client. Each Client is solely responsible for maintaining the confidentiality of his or her access credentials and other account information, and will be solely liable for any and all activities under Client’s account. Client agrees to notify Fitsby immediately of any unauthorized use of Client's account or any other breach of security.<br/><br/>
      Multiple Fitsby accounts are prohibited. Any individual User may only register for and maintain 1 Fitsby account. In addition, each Fitsby account may be associated with only 1 payment method as may be permitted by Fitsby (e.g., credit card, bank account or mobile telephone account), and each Fitsby account may be associated with only 1 method to receive rewards as permitted by Fitsby (e.g., PayPal account).<br/><br/>

      <span><strong>6. PRIVACY </strong></span><br/>
      <span>  Fitsby's current Privacy Policy is available at http://fitsby.com/privacy.html. Use of the Site, Apps and other aspects of the Service shall be subject to the then current Privacy Policy. Fitsby will not edit, delete or disclose the contents of a User's data in connection with the Service unless (a) reasonably necessary to perform the Service, (b) authorized by the User, (c) otherwise permitted under the Privacy Policy or (d) Fitsby reasonably believes that such action is necessary to conform or comply with any legal, regulatory, law enforcement or similar requirement or investigation, to protect or defend the rights or property of Fitsby or any User or to enforce the Terms of Service. Fitsby will use social networking account information only for the purpose of providing the Service to the applicable Client, and Fitsby will not otherwise attempt to obtain information from (or post information using) such accounts.<br/><br/>

      <span><strong>7. TRANSACTIONS </strong></span><br/>
      <span>  The Service may include the ability for Clients to incentivize their exercise programs and/or purchase other goods and services (collectively, Products) from Fitsby, or from Site Affiliates or other third parties. Each Client agrees to strictly comply with and be bound by all requirements (including without limitation, any payment requirement or restriction on copying, redistributing or reselling any Product) that may be specified in respect of the purchase or sale of any Product (Transactions). Fitsby is only responsible for Products and corresponding Transactions where Fitsby provides the Products (Direct Products) to the User (Direct Transactions), and has no liability for Products or corresponding Transactions where any Site Affiliate or other third party provides the Products (Indirect Products) to the User (Indirect Transactions).<br/><br/>
      As a result of its limited role as an intermediary in Indirect Transactions, Fitsby has no control over the validity, quality, risk or legality of any Indirect Product or the terms and conditions of any Indirect Transaction. Therefore, each Client agrees, in connection with any use of the Service related to any Indirect Transaction and any Indirect Product: (a) to release Fitsby (and its licensors and suppliers) from any and all claims, demands, damages and liabilities, of any type and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such use of the Service by such Client (including any disputes arising therefrom); and (b) to attempt to settle any disputes directly with the counter-party in any Indirect Transaction.<br/><br/>


      <span><strong>8. GAMES </strong></span><br/>
      <span>Subject to the terms and conditions of its then current Game Policy, Fitsby offers Clients the ability to incentivize their exercise programs by establishing separate contracts with Fitsby (Games). Depending on whether or not the Client complies with his or her commitments made through the Game, and subject to the other terms and conditions of the Game Policy, the Client may be obligated to pay certain service fees to Fitsby or, subject to the terms and conditions of its then current Rewards Policy, the Client may be eligible to receive rewards from Fitsby.<br/><br/>


      <span><strong>9. FEES AND PAYMENTS </strong></span><br/>
      <span>Except as expressly provided otherwise in the Terms of Service, Fitsby and each User is solely responsible for all of its costs and expenses related to the Service (including without limitation, the costs and expenses incurred by User in performing any Game).<br/><br/>
      At this time, Users may access the Site, download Apps and use the Service without charge; except, however, Clients that enter into Games are obligated by the payment terms required by the Game. In the future, Fitsby may decide to charge for downloading Apps or accessing certain other features of the Service (or to change the price charged for such features), in which case Users will be notified of that change in accordance with Section 2. In that event, should User elect to download such Apps or access or subscribe to such features, User hereby agrees to pay all applicable fees, in the amounts, at the times and subject to the other payment terms described on the Site. Such fees may be specified on a recurring basis (e.g., subscription fees), non-recurring basis (e.g., one-time fees) or episodic basis (e.g., fees due upon occurrence of certain events).<br/><br/>
      The fee to consummate any Transaction and receive the corresponding Product will be established by Fitsby (in the case of Direct Transactions, including Games) or by the Site Affiliate or other third party (in the case of Indirect Transactions). User hereby agrees to pay Fitsby (or the Site Affiliate or other third party, as applicable) all fees arising out of each Transaction he or she enters into, in the amounts, at the times and subject to the other payment terms specified for such Transaction.<br/><br/>
      Unless specified otherwise, all amounts payable hereunder shall be paid when due in US dollars, in immediately available funds by credit card, electronic funds transfer from a bank account or charge to a mobile telephone account, in full without set- off, counterclaim or deduction. Any amount not paid when due shall bear a late payment charge until paid at the rate of 1.5% per month or the maximum amount permitted by law, whichever is less. If any payment is past due, Fitsby (or the Site Affiliate or other third party, as applicable) shall have the right to take whatever action it deems appropriate (including without limitation, suspending or terminating User's ability to access, use and/or benefit from the Service, Product or Transaction). User agrees to reimburse Fitsby for all reasonable costs (including attorneys' fees) incurred in collecting payments. All payments to Fitsby (or the Site Affiliate or other third party, as applicable) are exclusive of federal, state, local and foreign taxes, duties, tariffs, levies, withholdings and similar assessments (including without limitation, sales taxes, use taxes and value added taxes), and User agrees to bear and be liable for the payment of all such charges (excluding taxes based upon the payee's net income).<br/><br/>

      <span><strong>10. USER RULES AND CONDUCT </strong></span><br/>
      <span>The Site, Apps, Games and all other aspects of the Service are provided to Users only for their personal, non-commercial use. Any unauthorized use of the Service (including without limitation, using any App, engaging in any Transaction or accessing any other aspect of the Service for which the User is not authorized, or any commercial use not related to a Transaction, such as, for example, reselling any content, information, App or Product to third parties) is expressly prohibited. Each Client is solely responsible for all acts or omissions that occur under his or her account, username or password, including Transactions and User Content posted to or transmitted via the Service.<br/><br/>
      As a condition of use, User hereby promises that he or she will not use the Service for any purpose (including without limitation, raising money or advertising or promoting any product, service or venture) that is unlawful or prohibited by the Terms of Service, or any other purpose not reasonably intended by Fitsby. In connection with using the Service, User agrees to abide by all applicable local, state, national and international laws, regulations and rules. Without limiting the foregoing, Users shall not use the Service for the purpose of money laundering, bid rigging, price fixing or other unlawful collusion, price signaling or exchange of competitively sensitive data or information.<br/><br/>
      By way of example, and not limitation, User agrees not to upload, post, submit or otherwise distribute or facilitate distribution of any User Content (including text, communications, software, photographs, videos, sound recordings, data or other information), or take any other action, using any registration process, communications service, discussion forum, directory, survey, feedback, App or other service available on or through the Service that, in any manner:<br/><br/>
      <ul>
        <li>is unlawful, deceptive, misleading, fraudulent, threatening, abusive, harassing, libelous, invasive of another's privacy, tortious, obscene, profane or which otherwise violates the Terms of Service;</li>
        <li>infringes any patent, trademark, trade secret, copyright, right of publicity, privacy right or other right of any party;</li>
        <li>reveals any material, non-public information about any business;</li>
        <li>reveals any personal information about another individual, including another person's name, address, phone number, electronic mail address, credit card information, bank account information, mobile telephone account information or any other information that could be used to track, contact or impersonate that person;</li>
        <li>constitutes unauthorized or unsolicited advertising, junk or bulk e-mail ("spamming"), chain letters or any form of lottery or gambling;</li>
        <li>imposes an unreasonable or disproportionately large load on Fitsby's computing, storage or communications systems and networks, or attempts to gain unauthorized access to any App or other aspect of the Service, other accounts, technology platforms, computer systems or networks connected to the Service, through password mining or otherwise;</li>
        <li>contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware or network system or to damage or obtain unauthorized access to any system, data or other information of Fitsby or any Site Affiliate or other third party;</li>
        <li>creates Client accounts by any automated means or under false or misleading pretenses;</li>
        <li>harvests, scrapes or collects any information from the Site;</li>
        <li>uses any script, bot or other automated means that only simulates compliance with the Terms of Service or other requirement applicable to the Service or any Transaction;</li>
        <li>disguises the source of User Content posted by the User; or </li>
        <li>impersonates any person or entity, including any employee or representative of Fitsby or any Site Affiliate.</li>
        <li>User agrees that he or she shall perform all of his or her payment and other obligations in respect of any Transaction entered into in connection with using the Service (including without limitation, pursuant to any Game).</li>
        <li>User agrees not to establish or maintain more than 1 Fitsby account. If Fitsby has reason to believe that any User has established or maintains more than 1 Fitsby account, or has associated more than 1 payment method or rewards method with such User’s Fitsby account, or has attempted to do so, then Fitsby may, at its sole discretion, immediately suspend or terminate such User’s account(s), Game(s) and/or access to the Service. Fitsby reserves the right to recover from any User the amount of any rewards credited or paid to such User where Fitsby has reason to believe such rewards accrued in connection with any violation of this provision (including without limitation, by deducting the amount of such rewards from User’s account balance, by charging the amount of such rewards to User’s credit card or by initiating legal action against User).</li>
        <li>Fitsby may, at its sole discretion, immediately suspend or terminate any User's access to the Service should his or her conduct fail (or appear to fail) to strictly conform to any provision of this section. </li>
      </ul><br/>

      <span><strong>11. CONDUCT</strong></span><br/>
      <span>
      <ul>
        <li>Fitsby has no obligation to monitor the Service or any User's use thereof. However, Fitsby reserves the right at any time and without notice to monitor, review, retain or disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request or investigation (including without limitation, any inquiry from law enforcement).</li>
        <li>Fitsby does not undertake to pre-screen, authenticate, validate, monitor, moderate or edit any User Content. However, Fitsby and its agents have the right, at their sole discretion, to remove at any time any User Content that, in Fitsby's sole judgment, does not comply with the Terms of Service or otherwise appears illegal, harmful, objectionable or inaccurate. Fitsby is not responsible for any failure or delay in removing any such content.</li>
        <li>User shall not post any confidential content or other information that he or she desires or is obligated to keep secret.</li>
        <li>Because Fitsby does not review the substance of User Content or other communications via the Service, User must be careful in dealing with or relying on other Users to avoid fraud. User acknowledges that information provided by other Users may, despite the prohibitions set forth in the Terms of Service, be illegal, harmful, inaccurate or deceptive. Authentication of the true identity of Internet users is difficult, and so Fitsby cannot and does not confirm that any User is the person who they claim to be.</li>
      </ul><br/>

      <span><strong>12. THIRD PARTY SITES</strong></span><br/>
      <span>The Service may permit Users to access the Service (including downloading Apps) from, and to link from the Service to, other websites on the Internet (including without limitation, to and from the websites of Site Affiliates). These other websites are not under Fitsby's control, and User acknowledges and agrees that Fitsby is not responsible for the accuracy, legality, appropriateness or any other aspect of the content or function of such websites. The inclusion of any such access or link does not imply endorsement of the other website by Fitsby or any association with its operators. Additional or different terms and conditions may apply when Users are accessing and using such other websites.<br/><br/>

      <span><strong>13. PARTICIPATION IN PROMOTION OF AFFILIATES </strong></span><br/>
      <span>Any dealings by Users with advertisers and other vendors (collectively, Site Affiliates) via the Service, or participation in promotions, including the delivery of and the payment for goods and services, and any other terms, conditions, warranties, or representations associated with such dealings or promotions, are solely between the User and the applicable Site Affiliate or other third party. Fitsby is not responsible or liable for any part of any such dealings or promotions.<br/><br/>      

      <span><strong>14. PROPRIETARY RIGHTS</strong></span><br/>
      <span>
      <ul>
        <li>User acknowledges and agrees that the Site, Apps, Service and all content and other materials created by or for Fitsby and made available on the Site or via the Service are protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws, and Fitsby (and its licensors) shall own and retain all rights, title and interests (including without limitation, all intellectual property and proprietary rights) therein and thereto.</li>
        <li>Unless and only to the extent expressly authorized by Fitsby, User agrees not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works of the Site, Apps, Service or such content and other materials. However, unless the Service otherwise restricts the Client from doing so, Client may download a copy of the Apps and print or download a reasonable number of copies of the content and other materials from the Site solely for the Client's personal, non-commercial purposes; provided, that Fitsby (or the applicable User, in the case of User Content) retains all copyright and other intellectual property and proprietary rights contained therein. Systematic retrieval of data or other content from the Site by any User to create or compile, directly or indirectly, a collection, database or directory is strictly prohibited without Fitsby's express prior written permission.</li>
        <li>IMPORTANT: If User desires to make any use of any App or Site content for any purpose other than personal, non-commercial purposes, then User shall first secure permission from the owner of that content.</li>
        <li>User shall not directly or indirectly (a) use any App or any content and other materials from the Site in preparing any software, platform, website or service that is similar to (or that replicates any functionality of) the Site, any App or other aspect of the Service or (b) disassemble, decompile, reverse engineer or otherwise try to discover any source code or underlying organization, structures, ideas or algorithms of any App or Service platform (except and only to the extent these restrictions are expressly prohibited by applicable statutory law).</li>
        <li>Reproducing, copying or distributing any App or content, materials or design elements from the Site for any other purpose is strictly prohibited without Fitsby's express prior written permission. Attempting to access or use the Site, Apps, Service or content and other materials for any purpose not expressly permitted in the Terms of Service is prohibited.</li>
        <li>If User provides Fitsby with any description of errors or difficulties encountered in using the Service, or any assessment of the functions and performance of the Service, or suggested modifications, improvements and extensions to the Service (collectively, Feedback), then User agrees to assign and does hereby assign to Fitsby all rights, title and interests (including patent rights, copyright rights and all other intellectual property and proprietary rights throughout the world) in and to all Feedback.</li>
      </ul><br/>

      <span><strong>15. LICENSE TO FITBY </strong></span><br/>
      <span>
      <ul>
        <li>By uploading, posting, submitting or otherwise distributing User Content of any kind to Fitsby, the Site or via any App or other aspect of the Service, User hereby:</li>
        <li>agrees to grant and does hereby grant to Fitsby and its affiliates and licensees a non-exclusive, transferable, perpetual, irrevocable, non-exclusive, royalty-free right and license (with right to sublicense), in all media (now known or hereafter developed), to use, reproduce, publicly display, publicly perform, adapt, collect, modify, delete from, distribute, transmit, promote and make derivative works of the User Content, in any form, solely for the purposes of offering, providing, operating, marketing and promoting the Site, any App and other aspects of the Service (including without limitation, being exported under content sharing arrangements with other websites); and</li>
        <li>represents and warrants that all User Content includes appropriate attribution to the copyright owner; and</li>
        <li>represents and warrants to Fitsby that User owns or otherwise controls all rights to such User Content and that public disclosure and use of the User Content by Fitsby (including without limitation, publishing content at the Site) will not infringe or violate the rights of any third party; and</li>
        <li>acknowledges and agrees that the User Content is intended to and will be made available to and used by Fitsby and other Users.</li>
        <li>IMPORTANT: User agrees not to contribute any User Content unless User has all of the rights (including rights from the copyright owner) necessary to grant Fitsby the use license, and to satisfy all of the warranty requirements, described above.</li>
      </ul><br/>

      <span><strong>16. TERMINATION</strong></span><br/>
      <span>
      <ul>
        <li>Fitsby may terminate User's access to or use of all or any part of the Service (including without limitation, any App) at any time, with or without cause, with or without notice, effective immediately. If Client wishes to terminate his or her registration and account, Client may do so at any time by sending an email to team@fitsby.com that includes the Client's electronic mail address associated with their Fitsby account.</li>
        <li>Upon any termination, all rights and obligations of the parties shall cease and User shall immediately cease using the Service, except that (a) all obligations that accrued prior to the effective date of termination (including without limitation, all payment obligations) and all remedies for breach of the Terms of Service shall survive, (b) Fitsby will reasonably cooperate with any terminated User in completing any Transaction entered into prior to termination and (c) the provisions of Sections 14 – 26 shall survive. After termination, Fitsby has no obligation to maintain any content in Client's account, to make any payment to Client pursuant to any Games or to forward any unread or unsent messages to Client or any other User or third party.</li>
      </ul><br/>

      <span><strong>17. DISCLAIMER OF ALL WARRANTIES</strong></span><br/>
      <span>THE SITE, APPS AND OTHER ASPECTS OF THE SERVICE, AND ALL GAMES AND OTHER TRANSACTIONS AND PRODUCTS MADE AVAILABLE THROUGH THE SERVICE, ARE PROVIDED "AS IS" AND "AS AVAILABLE". THE SITE, APPS AND OTHER ASPECTS OF THE SERVICE, AND ALL GAMES AND OTHER TRANSACTIONS AND PRODUCTS MADE AVAILABLE THROUGH THE SERVICE, ARE PROVIDED WITHOUT REPRESENTATION OR WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, INTEGRATION, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. FITSBY AND ITS AFFILIATES, LICENSORS AND SUPPLIERS DO NOT WARRANT THAT: (A) THE SERVICE OR ANY GAME, PRODUCT, CONTENT OR OTHER INFORMATION WILL BE TIMELY, ACCURATE, RELIABLE OR CORRECT; (B) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR PLACE; (C) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (D) THE SERVICE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (E) ANY RESULT OR OUTCOME CAN BE ACHIEVED.<br/><br/>

      <span><strong>18. LIMITATION OF LIABILITY </strong></span><br/>
      <span>User agrees that Fitsby shall not be responsible or liable for any unauthorized access to, delay, alteration or use of User's account, transmissions or data, any material or data sent or received or not sent or received, or any Indirect Transaction entered into through the Service or any Indirect Product received pursuant to any Indirect Transaction. User agrees that Fitsby is not responsible or liable for any threatening, defamatory, obscene, offensive, illegal or other content or conduct of any other User or third party or any infringement of another's rights, including intellectual property rights.<br/><br/>
      IN NO EVENT SHALL FITSBY (OR ITS AFFILIATES, LICENSORS AND SUPPLIERS) BE LIABLE CONCERNING ANY SUBJECT MATTER RELATED TO THE SITE, APPS OR OTHER ASPECTS OF THE SERVICE (INCLUDING WITHOUT LIMITATION, GAMES AND OTHER TRANSACTIONS AND PRODUCTS MADE AVAILABLE THROUGH THE SERVICE), REGARDLESS OF THE FORM OF ANY CLAIM OR ACTION (WHETHER IN CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE), FOR ANY (A) MATTER BEYOND ITS REASONABLE CONTROL, (B) DELAY, LOSS OR INACCURACY OF DATA, DELAY, LOSS OR INTERRUPTION OF USE, OR COST OF PROCURING SUBSTITUTE TECHNOLOGY, GOODS OR SERVICES, (C) INDIRECT, PUNITIVE, INCIDENTAL, RELIANCE, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO, LOSS OF BUSINESS, REVENUES, PROFITS OR GOODWILL, OR (D) DAMAGES, IN THE AGGREGATE, IN EXCESS OF AMOUNTS PAID TO FITSBY BY USER DURING THE PRIOR 3-MONTH PERIOD OR US$100.00, WHICHEVER IS GREATER, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THESE LIMITATIONS ARE INDEPENDENT FROM ALL OTHER PROVISIONS OF THIS AGREEMENT AND SHALL APPLY NOTWITHSTANDING THE FAILURE OF ANY REMEDY PROVIDED HEREIN.<br/><br/>
      SOME STATES AND OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.<br/><br/>

      <span><strong>19. INTERNATIONAL USE</strong></span><br/>
      <span>Fitsby makes no representation that the Service is accessible, appropriate or legally available for use in locations outside the United States, and accessing and using the Service is prohibited from territories where doing so would be illegal. Users that access the Service from other locations do so at their own initiative and are responsible for compliance with local laws.<br/><br/>

      <span><strong>20. DISPUTES; CHOICE OF LAW AND ARBITRATION </strong></span><br/>
      <span>
      <ul>
        <li>A printed version of the Terms of Service and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Terms of Service to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. User and Fitsby agree that any claim or cause of action arising out of or related to the Service must commence within one (1) year after the claim or cause of action arose; otherwise, such cause of action is permanently barred.</li>
        <li>The Terms of Service shall be governed by and construed in accordance with the laws of the Commonwealth of Massachusetts, excluding its conflicts of law rules, and the United States of America. In the event of any conflict between US and foreign laws, rules and regulations, US laws, rules and regulations shall govern. The United Nations Convention on Contracts for the International Sale of Goods shall not apply to the Terms of Service.</li>
        <li>Except that either party may seek equitable or similar relief from any court of competent jurisdiction, any dispute, controversy or claim arising out of or related to the Service or these Terms of Service that cannot be settled amicably by agreement of the parties shall be settled in accordance with the JAMS streamlined arbitration rules and procedures then in force, by one neutral arbitrator appointed in accordance with the rules. The arbitration shall take place in Boston, Massachusetts, USA. The proceedings and all evidence shall be in English, and the governing law shall be as set forth herein. The arbitrator’s decision shall be in writing and shall comply with all terms and conditions in the Terms of Service. The decision and award rendered shall be final and binding on both parties. The parties acknowledge and agree that this Agreement and any award rendered pursuant hereto shall be governed by the UN Convention on the Recognition and Enforcement of Foreign Arbitral Awards. Judgment on the award may be entered in any court of competent jurisdiction.</li>
        <li>Use of the Service is not authorized in any jurisdiction that does not give effect to all provisions of the Terms of Service, including without limitation, this section.</li>
      </ul><br/> 

      <span><strong>21. INTEGRATION AND SEVERABILITY</strong></span><br/>
      <span>The Terms of Service (including the then current Policies) are the entire agreement between User and Fitsby with respect to access, use and operation of the Site, Apps, Games and other aspects of the Service, and supersede all prior or contemporaneous communications, proposals and agreements (whether oral, written or electronic) between User and Fitsby with respect to the Service. If any provision of the Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Service will otherwise remain in full force and effect and enforceable.<br/><br/>

      <span><strong>22. GENERAL PROVISIONS</strong></span><br/>
      <span>User's rights and obligations under the Terms of Service are personal to User, and are not assignable, transferable or sublicensable by User except with Fitsby's prior written consent. Fitsby may assign, transfer or delegate any of its rights and obligations hereunder without consent. All waivers, consents and modifications must be in a writing signed by both parties, except as otherwise provided herein. No agency, partnership, joint venture, or employment relationship is created as a result of the Service or Terms of Service, and neither party has any authority of any kind to bind the other in any respect. All notices under this Agreement will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested, or by recognized express courier service; or when receipt is electronically confirmed, if transmitted by facsimile or e-mail.<br/><br/>

      <span><strong>23. COPYRIGHT AND TRADEMARK NOTICES</strong></span><br/>
      <span>
      <ul>
        <li>The Terms of Service, Apps and other content and materials provided by Fitsby are copyright © 2012-2013 fitsby, Inc. and/ or its licensors or suppliers.</li>
        <li>fitsby® is the registered trademark of Fitsby. The names and logos of other companies and products mentioned at the Site may be the trademarks of their respective owners, and shall not be deemed to create any endorsement or association between Fitsby and such other companies.</li>
        <li>Any rights not expressly granted herein are reserved.</li>
      </ul><br/>

      <span><strong>24. INTELLECTUAL PROPERTY</strong></span><br/>
      <span>Trademarks. Fitsby, the Daily Carrot, and other Company graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, service marks, or trade dress of the Company in the U.S. and/or other countries. The Company's trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without the prior written permission of the Company.<br/><br/>
      <ol TYPE="A">
        <li>Copyright Protection.</li><br/>
        <ol type="i">
          <li>You may not Post, distribute or reproduce any copyrighted material, trademarks, or service marks or other proprietary information owned by another party without obtaining the prior written consent of the copyright owner. If you believe that your work has been copied and Posted on the Website without your permission or in any other way that constitutes copyright infringement, please review and follow the procedures set forth in our Copyright Policy.</li>
          <li>In accordance with the Digital Millennium Copyright Act (DMCA) and other applicable law, the Company has adopted a policy of terminating, in appropriate circumstances and at the Company's sole discretion, members who are deemed to be repeat infringers. The Company may also at its sole discretion limit access to the Site and/or terminate the memberships of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement or infringement of the Company's intellectual property rights specifically.</li>
        </ol>
      </ol><br/>

      <span><strong>25. DISPUTES BETWEEN USERS</strong></span><br/>
      <span>You are solely responsible for your interactions with other Fitsby users. We reserve the right, but have no obligation, to monitor disputes between you and other users. In the event that we do resolve a dispute between or among you and other users, our decision shall be final.<br/><br/>

      <span><strong>26. OTHER DISCLAIMERS</strong></span><br/>
      <span>Content. The Company is not responsible or liable in any manner for any User Content or Third Party Applications, Software, or Content posted on or accessible through the Site, whether posted or caused by users of the Site, by Fitsby, by third parties, or by any of the equipment or programming associated with or utilized in the Site. Although we provide rules for user conduct and postings, we do not control and are not responsible for what users post, transmit, or share on the Site and are not responsible for any offensive, inappropriate, obscene, unlawful, or otherwise objectionable content you may encounter on the Site or in connection with any User Content or Third Party Applications, Software, or Content. The Company is not responsible for the conduct, whether online or offline, of any user of the Site.<br/><br/>
      <ol type="a">
        <li>Availability and Data Integrity. The Site may be temporarily down from time to time for maintenance or other reasons. The Company assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, User communications including but not limited to User Content. The Company is not responsible for any technical malfunction or other problems of any telephone network or service, computer systems, servers or providers, computer or mobile phone equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any website or combination thereof, including injury or damage to User's or to any other person's computer, mobile phone, or other hardware or software, related to or resulting from using or downloading materials in connection with the worldwide web and/or in connection with the Site. Under no circumstances will the Company be responsible for any loss or damage, including any loss or damage to any User Content or personal injury or death or to losses of wagers on Fitsbys, resulting from anyone's use of the Site, any User Content or Third Party Applications, Software or Content posted on or through the Site or transmitted to Users, or any interactions between users of the Site, whether online or offline.</li>
        <li>Viruses and Malware. The Company does not represent or warrant that software, content or materials on the Site, or any Third Party Applications, Software, or Content are accurate, complete, reliable, current, or error-free or that the Site, its servers, or any Third Party Applications, Software or Content are free of viruses or other harmful components. Therefore, you should exercise caution in the use and downloading of any such software, content or materials and use industry-recognized software to detect and disinfect viruses.</li>
        <li>Health Disclaimer. Fitsby is not a medical organization. Nothing contained in this Agreement or on the Site should be construed as medical advice. The information offered by Fitsby and its affiliates should not be interpreted as a substitute for physician consultation, evaluation, or treatment. The User acknowledges that Fitsby has no knowledge of any User's health condition(s) and that User alone is responsible for any actions User takes that may have any health or other risks to User.</li>
        <li>Results. We believe our game, when played properly, will help most people to go to the gym more often and in turn, increase there motivation level to attend the gym. In some cases, we offer money-back guarantees if certain results are not obtained. In those cases, users may be entitled to receive a refund of their entrance fees. However, beyond such money-back guarantees or assurances to the contrary, the Company cannot guarantee and does not promise any specific results from use of the Site and/or any Third Party Applications, Software, or Content. In no case shall the Company be responsible to you for losing money should you wager on a Fitsby. You acknowledge that wagering on a Fitsby is inherently risky.</li>
        <li>Not a game of chance. Fitsby is not a game of chance. The intent of the program is to reward participants only for actions over which they have control or influence. The use of this program to reward participants for actions over which they have no control or influence is strictly prohibited.</li>
        <li>Managing the Pot. You acknowledge that Fitsby, Organizers, or other agents may be charged with holding money wagered in relation to a Fitsby game. The Company shall not be responsible for enforcing that such agents perform their role properly, including paying out winners properly.</li>
        <li>Organizers. You acknowledge that Organizers of Fitsbys are subject to human error, just as with referees in other games (indeed, even more, as Fitsby Organizers are generally not trained for these roles). Organizers may discharge their responsibilities improperly and make mistakes (in good faith or not). You acknowledge that this is an inherent risk of playing Fitsby and agree to accept their rulings as final. This specifically includes making what you may believe are incorrect judgments, decisions to eject players, errors in recordkeeping, or other actions that may directly or indirectly affect the outcome of your Fitsby as well as your wager on such Fitsby. Any disputes you have with Organizers, including ones we supply into these roles, must be resolved directly with the Organizer. The Company will not mediate such disputes or take any responsibility for the actions or inactions of Fitsby Organizers.</li>
        <li>Conflict of Interest. In some games, the Organizer is both Organizer and competitor. This presents a conflict of interest. If you agree to play in a game where the Organizer is also competing, you accept full responsibility for any problems arising therefrom.</li>
        <li>Disqualifications and Ejections. You may be disqualified for a variety of reasons by your game’s Organizer, including violating Fitsby’s rules, Terms of Use, or for displaying bad sportsmanship in the judgment of your Organizer. If you are disqualified or ejected for any reason, you will not receive a refund. You further acknowledge that your game’s Organizer has the absolute and unappealable right to eject anyone in the game. If you are not comfortable giving the Organizer this power, do not play.</li>
        <li>Excessive Gym going. You will be automatically disqualified for checking into the gym more than 6 times per week, the rules specifiy we will only count 6 checkins per week.</li>
        <li>Organizer’s Responsibilities. All problems, disputes, and extraordinary circumstances are the responsibility of your game’s Organizer to resolve. Fitsby has no responsibility or obligation to resolve issues that arise, including extraordinary circumstances.</li>
        <li>Death of Organizer. If your Organizer dies or is otherwise incapable of performing his or her Organizer duties, the game will be considered a draw and money returned to all players who have not been previously disqualified or ejected, less any standard fees that Fitsby may collect for managing your pot.</li>
      </ol><br/>

      <span><strong>27. COMMUNICATIONS FROM FITSBY</strong></span><br/>
      <span>By playing Fitsby you acknowledge that during the game you will automatically receive certain messages. This includes messages from your game's Organizer, such as the time and location of the game start and end date; comments you or other players post on your game's message board; system messages such as payment receipts and password resets that you request; and general communications from us that may include specials, local events, and updates. We default to opt-in because we believe these game-related messages are fundamental to the experience of playing. You may control your notifications preferences from our site and opt-out or (or opt back into) messaging at any time. Please see our Privacy Policy for how we protect the private data that you entrust to us. you are responsible for being aware of the game start and end date.<br/><br/>

      <span><strong>28. MISCELLANEOUS</strong></span><br/>
      <span>Governing Law; Venue and Jurisdiction. By visiting or using the Site, you agree that the laws of the State of Delaware, without regard to principles of conflict of laws, will govern these Terms of Use and any dispute of any sort that might arise between you and the Company or any of our affiliates. With respect to any disputes or claims not subject to arbitration (as set forth below), you agree not to commence or prosecute any action in connection therewith other than in the state and federal courts in Delaware, and you hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to venue and jurisdiction in the state and federal courts in Delaware.<br/><br/>
      <ol type="a">
        <li>Arbitration. You and the Company agree that all disputes, controversies or differences which may arise between the parties hereto, out of or in relation to or in connection with this Agreement shall be finally settled by binding arbitration in Delaware in accordance with the Consumer Procedures and Rules of the American Arbitration Association.</li>
        <li>Privacy. Please review our Privacy Policy, which also governs your visit to the Site, to understand our practices.</li>
        <li>Definitions and Constructions. Unless otherwise specified, the terms "includes", "including", "e.g.,", "for example", and other similar terms are deemed to include the term "without limitation" immediately thereafter. Terms used in these Terms with the initial letter(s) capitalized will have the meaning attributed to them in these Terms.</li>
        <li>No Agency. There is no agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship between you and us or between us and any other Member or user of the Website.</li>
        <li>Survival. Although this Agreement may be terminated by you or us at any time and for any reason, the terms of the following sections of this Agreement will survive any such termination and you and we will continue to be bound by such terms indefinitely: Section 2 (Term), Section 5 (Proprietary Rights in Site Content), Section 9 (Member Disputes), Section 10 (Disclaimers), Section 11 (Limitation on Liability), Section 12 (Indemnity), and this Section 13 (Miscellaneous).</li>
        <li>Entire Agreement. These Terms of Use constitute the entire agreement between you and Company regarding the use of the Site, superseding any prior agreements between you and the Company relating to your use of the Site.</li>
        <li>ther. The failure of the Company to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision in that or any other instance. If any provision of these Terms of Use shall be held invalid or deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms of Use and shall not affect the validity and enforceability of any remaining provision.</li>
      </ol><br/>

      <span><strong>29. PROCEDURE FOR CLAIMS OF COPYRIGHT INFRINGEMENT </strong></span><br/>
      <span>Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement should be made according to the instructions provided at the Copyright Policy.<br/><br/>
      Fitsby, Inc.</br>
      200 South Wacker Drive</br>
      15th Floor</br>
      Chicago, IL 60606, USA</br>
      ATTN: Daniel Gaeta<br/><br/>       

      <hr/><br/>

      <span id ="boring-title"><strong>Game Policy</strong></span><br/><br/>

      <span><strong>GAME POLICY </strong></span><br/>
      Fitsby, Inc. (Fitsby) owns and operates the websites http://fitsby.com. The Site, together with any software applications (including mobile applications) that are made available by Fitsby (Apps), and together with all content, forums, information sharing functions (including the ability to post User-generated content, User Content), tools, transactions and other services available at the Site, are collectively referred to as the Service.<br/><br/>
      The following Game Policy explains the terms and conditions pursuant to which Clients may incentivize their exercise programs by establishing separate contracts (Games) with Fitsby. Capitalized terms used herein without definition will have the same meanings as defined in the Terms of Service applicable to the Site, Apps and Service, which are available at http://fitsby.com/terms.html.<br/><br/>
      

      <span><strong>1. THE GAME</strong></span><br/>
      <ul>
        <li><strong>1.1 The Game</strong>. Client promises that he or she will fulfill his or her Game, as more fully specified on the profile page summarizing the Game (My Profile Page), which is displayed at the App (or Site, if applicable) when Client accepts the Game. The data used to generate the My Profile Page will be uniquely identified and retained by Fitsby so that the My Profile Page can be automatically generated in the future. Games are specified on a weekly basis (Monday through Sunday) and renew automatically, week to week, except as otherwise provided in this Game Policy or the Terms of Service. Client may opt-out of their Game (or modify their commitments under the Game) for the following week at any time prior to midnight (local time zone) Sunday of the prior week.</li>
        <li><strong>1.2 Risk of Failure to Keep Game.</strong> Client acknowledges that there exist circumstances within or beyond Client's control that may prevent Client from achieving the Game (a Failure). Client and Fitsby agree that it is a basic assumption of the parties in making the Game that Client will bear the risk of any Failure. Client understands that Client is solely responsible for the identification and description of the Game as specified in the My Profile Page and THAT CLIENT BEARS ALL RISK ASSOCIATED WITH SUCH GAME, including, but not limited to, Client's efforts to satisfy the Game and Client's ultimate success or Failure in achieving the Game. In addition, Client understands that Client is solely responsible for any loss, damage, illness, injury or death to person or loss or damage to property related in any way to the Game or Client's efforts in connection with the Game.</li>
        <li><strong>1.3 Acceptable Excuses</strong>. Fitsby reserves the right to allow a player to exit a game, and the matter will be reviewed on a personal basis.</li>
      </ul><br/>

      <span><strong>2. MINORS</strong></span><br/>
      <ul><li>Users under the age of 18 years old are prohibited from creating Games and CLIENT REPRESENTS AND WARRANTS THAT CLIENT IS NOT UNDER THE AGE OF 18 YEARS OLD.</li></ul><br/>

      <span><strong>3. GAME SERVICE FEES</strong></span><br/>
      <ul>
        <li><strong>3.1 Service Fees</strong>. Client understands that, as described in the My Profile Page, Client has elected an amount of money (Service Fees) that the Client is obligated to pay in each weekly reporting period in the event of Failure and such Service Fees are governed by this paragraph 3. Client acknowledges and agrees that Client is not entitled to any interest on any Service Fees paid to or held by Fitsby pursuant to this Game Policy. Client represents that the total of all Service Fees authorized by Client is less than 10 percent of Client's annual income.</li>
        <li><strong>3.2 Payment and Billing</strong>. Client agrees to provide Fitsby (and/or its payment processor) with certain information, including without limitation, Client's full name, address, telephone number, credit card information, and bank account information. Client agrees to provide Fitsby with the foregoing information as well as any other mandatory information that is accurate, complete and current. Fitsby will use commercially reasonable efforts to maintain such information in secure, encrypted form and in accordance with any applicable laws and with Fitsby’s Privacy Policy (which is available at http://fitsby.com/privacy.html).</li>
        <li>Client shall be responsible for and hereby agrees to pay all Service Fees incurred as a result of Client's Game, including any applicable taxes. If payment cannot be charged to Client's credit card or if a charge is refunded for any reason without Fitsby’s consent, including chargeback, Fitsby reserves the right to immediately and without notice, either suspend or terminate Client's access and account, in which case all of Fitsby's obligations under the Game and this Game Policy shall terminate immediately. Client is required to pay any amounts still owed to Fitsby at the time Client's account is suspended or terminated.</li>
        <li>If Prepayment is not selected because that option is either not offered by Fitsby or not selected by Client, then Client hereby authorizes Fitsby to charge Client's credit card only upon Failure; such charge shall equal the Service Fees for that weekly reporting period. Client understands that such a charge could occur in each and every weekly reporting period during the term of the Game. Client agrees that Service Fees are the sole and exclusive property of Fitsby and that Fitsby does not hold Service Fees in an escrow or any fiduciary capacity for the benefit of Client.</li>
      </ul><br/>

      <span><strong>4. REWARDS</strong></span><br/>
      <ul>
        <li>From time to time, Fitsby may, at its sole discretion, implement programs for issuing rewards to Clients that successfully complete their Games. The eligibility and success criteria for receiving any award, the amount and form of the reward and the manner in which any reward is issued to Clients shall be established by Fitsby. Unless expressly provided otherwise at the My Profile Page (at the time the Game is entered into), the rewards program shall be as described in the then current Rewards Policy. Client hereby agrees that Fitsby’s reasonable determination of whether Client is eligible for any rewards program, and whether Client has satisfied the requisite success criteria, shall be final and binding.</li>
        <li>Fitsby reserves the right to recover from any User the amount of any rewards credited or paid to such User where Fitsby has reason to believe such rewards accrued in connection with certain violations of the Terms of Service, as further described therein (including without limitation, by deducting the amount of such rewards from User’s account balance, by charging the amount of such rewards to User’s credit card or by initiating legal action against User).</li>
      </ul><br/>

      <span><strong>5. CHALLENGES</strong></span><br/>
      <ul>
        <li>• From time to time, Fitsby may, at its sole discretion, implement programs with employers, charities or other third parties (Challenge Programs). Client may (but is not obligated to) opt-in to any Challenge Program for which it is eligible. By participating in any Challenge Program, Client agrees that certain additional terms and conditions will apply to and modify his or her Game. By way of illustration and not limitation, a charity Challenge Program may provide that any reward earned by Client shall be issued to the charity, not Client; and an employer Challenge Program may provide recognition to employees who are Clients and successfully complete their Games. If Client opts-in to any Challenge Program, Client is deemed to accept all such additional terms and conditions and Client agrees that Fitsby may provide information about Client to its Challenge Program partner as reasonably necessary to implement, administer and audit the results of the corresponding Challenge Program.</li>
      </ul><br/>
        
      <span><strong>6. TERMS FOR HEALTH AND FITNESS</strong></span><br/>        
      <ul>
        <li><strong>6.1 Client Warranties</strong>. Client hereby represents and warrants that he or she is in good health, he or she has not been diagnosed with or treated for any active condition of anorexia or bulimia nervosa, respiratory disease, heart condition or any other condition, disease or limitation that could make the Game unhealthful, risky or dangerous in any respect (adverse health conditions).</li>
        <li><strong>6.2 Health Disclaimer</strong>. FITSBY IS NOT A MEDICAL ORGANIZATION OR HEALTHCARE PROVIDER. NOTHING CONTAINED AT THE SITE OR IN THE GAME, OR THIS GAME POLICY, OR THE TERMS OF SERVICE OR FITSBY’S SERVICE SHOULD BE CONSTRUED AS MEDICAL ADVICE. THE INFORMATION GENERATED BY FITSBY SHOULD NOT BE INTERPRETED AS A SUBSTITUTE FOR PHYSICIAN CONSULTATION, EVALUATION, OR TREATMENT. CLIENT ACKNOWLEDGES THAT FITSBY HAS NO KNOWLEDGE OF CLIENT'S HEALTH CONDITION AND THAT CLIENT ALONE (OR IN CONSULTATION WITH HIS OR HER PHYSICIAN) IS RESPONSIBLE FOR WHETHER THE GAME POSES ANY HEALTH OR OTHER RISKS TO CLIENT. CLIENT IS URGED AND ADVISED TO SEEK THE ADVICE OF A PHYSICIAN BEFORE BEGINNING ANY HEALTH OR FITNESS PROGRAM OR GAME. GAMES ARE NOT INTENDED FOR USE BY PERSONS WITH ANY ADVERSE HEALTH CONDITION OR WHO ARE PREGNANT. PREGNANT WOMEN AND INDIVIDUALS WITH ADVERSE HEALTH CONDITIONS ARE SPECIFICALLY WARNED TO SEEK PROFESSIONAL MEDICAL ADVICE PRIOR TO INITIATING ANY FORM OF HEALTH OR FITNESS PROGRAM OR GAME.</li>
      </ul><br/>

      <span><strong>7. GAME TERM AND TERMINATION</strong></span><br/>        
      <ul>
        <li><strong>7.1 Term</strong>. Each Game shall terminate upon completion of the Game, as identified in the My Profile Page.</li>
        <li><strong>7.2 Cancellation</strong>. Client agrees that his or her Game may not be cancelled except as set forth in this Paragraph 6.2. The Game may be suspended or cancelled by Client if and only if (i) Client edits the My Profile Page to “Take A Break” for a defined or undefined period of time, or (ii) Client completes the “Delete Account” process, or (iii) a licensed physician emails a completed and signed copy of a medical excuse form to medical@Fitsby.com. After Fitsby contacts the physician or otherwise verifies that Client's medical excuse form is genuine, all remaining obligations of the parties under this Game will terminate immediately. Client also agrees that Fitsby, upon notice to Client, may terminate any Game that Fitsby, in its sole discretion, deems to be inappropriate, unhealthful, illegal, against public policy, or based on false information provided by Client. Games shall also be terminated upon any termination of the App, Service or Client account as permitted pursuant to the Terms of Service.</li>
        <li><strong>7.3 Refund Policy</strong>. Fitsby does not provide refunds of Service Fees except in one circumstance: (1) Client cancels the Game pursuant to Paragraph 6.2, and (2) following Fitsby's receipt of such Medical Excuse form, Client has a Failure resulting in a charge to Client's credit card. In order to obtain a refund, Client must provide Client's correct e-mail address and mailing address to Fitsby. Fitsby will not be liable for any claims that a refund has been delayed if such delay was a result of an incorrect email address or mailing address provided by Client to Fitsby. Client is responsible for providing a correct/working e-mail address. Fitsby reserves the right to modify this Refund Policy at its discretion (according to the change notice process described in the Terms of Service), but may suspend or cancel the refund right at any time against any Client that Fitsby believes is abusing this policy.</li>
      </ul><br/>

      <hr/><br/>

      <span id ="boring-title"><strong>Rewards Policy</strong></span><br/><br/>

      <span><strong>REWARDS POLICY</strong></span><br/>
      Fitsby, Inc. (Fitsby) owns and operates the websites http://fitsby.com. The Site, together with any software applications (including mobile applications) that are made available by Fitsby (Apps), and together with all content, forums, information sharing functions (including the ability to post User-generated content, User Content), tools, transactions and other services available at the Site, are collectively referred to as the Service.<br/><br/>
      The following Rewards Policy explains the terms and conditions pursuant to which Clients may incentivize their exercise programs by establishing separate contracts (Games) with Fitsby. Capitalized terms used herein without definition will have the same meanings as defined in the Terms of Service applicable to the Site, Apps and Service, which are available at http://Fitsby.com/terms.html.<br/><br/>

      <span><strong>REWARDS</strong></span><br/>
      <ul>
        <li>Promptly after the end of each game, Fitsby charges the credit cards on file of all Clients who did not finish in the top three places in their game. The amount charged equals the amount of the service fee agreed by the Client in his or her Game. The total amount successfully charged and actually received by Fitsby from all such Clients constitutes the Gross Fee for that week.</li>
        <li>Fitsby retains 15% of the Gross Fee (which is applied, approximately, 8% for credit card processing and Stripe fees, and 7% for Fitsby's transaction fee).
        <li>The remainder (85%) of the Gross Fee (the Net Fee) is used to provide other Clients their respective Rewards in respect of the applicable week. The Net Fee is divided by the total number of committed days that week for all Clients who satisfied their Game commitments (the Daily Fee). Each Client wins their Game will receive an account credit percentage cut based on their finishing position multiplied by the total stakes of the game.</li>
      </ul><br/><br/>

      <span><strong>RECOVERY OF REWARDS</strong></span><br/>
      <ul><li>Fitsby reserves the right to recover from any User the amount of any rewards credited or paid to such User where Fitsby has reason to believe such rewards accrued in connection with certain violations of the Terms of Service, as further described therein (including without limitation, by deducting the amount of such rewards from User’s account balance, by charging the amount of such rewards to User’s credit card or by initiating legal action against User).</li></ul>

      <span>&nbsp;</span>
    </div>
  </div>



 <!-- Included JS Files (Uncompressed) -->
  <!--
  <script src="javascripts/modernizr.foundation.js"></script>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  <script src="javascripts/jquery.foundation.forms.js"></script>
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  <script src="javascripts/jquery.placeholder.js"></script>
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  -->

  <!-- Included JS Files (Compressed) -->
  <script src="/javascripts/foundation.min.js"></script>

  <!-- ClickTale Bottom part -->
  <div id="ClickTaleDiv" style="display: none;"></div>
  <script type="text/javascript">
  if(document.location.protocol!='https:')
    document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  if(typeof ClickTale=='function') ClickTale(3693,0.112,"www14");
  </script>
  <!-- ClickTale end of Bottom part -->

  <!--Google Analytics-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34606377-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!--GoSquared Analytics-->
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-040062-B";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>

</body>

</html>