<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hey <%= @first_name %>,
      <br/><br/>
      It looks like you forgot your password and have requested to change it.  
      <br/><br/>
      To choose a new password, just log in to Fitsby using this token as your password: <%= @token %>.
      After, you can set your password to your liking.
      <br/><br/>
      Have a great day!
      <br/><br/>
      Danny, Brent, and Kevin<br/>
      The Fitsby Team
    </p>
  </body>
</html>