<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hey <%= @winner_first_name %>,
      <br/><br/>
      Congrats on winning your game of Fitsby! You accomplished your goal and won $<%= @player_cut %>. We sent you the money via PayPal -- please allow up to 7-10 business days for the payment to show up. If you have a PayPal account registered with the email of <%= @winner_email %> the money will be in your account. If you don't have a PayPal account with the email of <%= @winner_email %> you can create a free PayPal account using that email and once you are successfully registered, the money will be waiting for you in your account.
      <br/><br/>
      We hope to have helped you stay motivated to hit the gym. Keep up the good work!
      <br/><br/>
      If you have any questions, comments, or concerns, you can reach us at <a href="mailto:team@fitsby.com">team@fitsby.com</a>.
      <br/><br/>
      All the best,
      <br/><br/>
      Danny, Brent, and Kevin<br/>
      The Fitsby Team
    </p>
  </body>
</html>