<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey, <%= @user.first_name %> congrats on winning!</h1>
    <p>
     You won the 2nd place prize of <%= @winner2_money_won %>   
    </p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>