<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Hey, <%= @user.first_name %> congrats on winning! </h1>
    <p>
     You won the 1st place prize of <%= @winner1_money_won %>
    
    </p>
   
    <p>Your awesome bro! (or chick)</p>
  </body>
</html>