<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hey <%= @user.first_name %>,
      <br/><br/>
      Your game at Fitsby just started! 
      <br/><br/>
  
      <br/><br/>
      If you have any questions, comments, or concerns, you can reach us at <a href="mailto:team@fitsby.com">team@fitsby.com</a>.
      <br/><br/>
      All the best,
      <br/><br/>
      Danny, Brent, and Kevin<br/>
      The Fitsby Team
    </p>
  </body>
</html>