<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= @user.first_name %>,
      <br/><br/>
      We're very sad right now ;(
      <br/><br/>
      You came in <%= @place %>nd place and lost your Fitsby game. But on the bright side, you went to the gym <%= @loser_checkins %> times during your game!
      <br/><br/>
      Email us at <a href="mailto:team@fitsby.com">team@fitsby.com</a> if you ever have any questions or concerns. We're always trying to make your Fitsby experience better and we would really appreciate your thoughts.
      <br/><br/>
      And hey, don't worry. Even Michael Jordan lost 366 basketball games in his NBA career. Get 'em next time!
      <br/><br/>
      Danny, Brent, and Kevin
      <br/>
      The Fitsby Team
    </p>
    
  </body>
</html>