<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= @user.first_name %>,
      <br/><br/>
      Welcome aboard and thanks for signing up with us! With Fitsby, you can stay motivated to work out, compete with friends, and earn money for going to the gym!
      <br/><br/>
      Feel free to email us at <a href="mailto:team@fitsby.com">team@fitsby.com</a> if you ever have any questions, thoughts, or concerns. We look forward to hearing your ideas and feedback! We also have an FAQ page <a href="http://fitsby.com/faq.html">here</a> that we thought you might want to check out.
      <br/><br/>
      Happy gym going!
      <br/><br/>
      Danny, Brent, and Kevin
      <br/>
      The Fitsby Team
    </p>
 
  </body>
</html>