<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2 style="color: red">FOR FITSBY EMPLOYEES ONLY</h2><br/>
    <h3>These games were deactivated lastnight:</h3>
    <p>
      <%= @finished_games %>
    </p>
    

  </body>
</html>