<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hello human,
      <br/><br/>
      Here is Fitsby's automated daily report! 
      <br/><br/>
  
      <br/><br/>
      Users that signed up for Fitsby yesterday (<%= @month %>-<%= @day %>-<%= @year %>): <%= @number_of_users %>
      <br/><br/>
      More data to come...(games and user data etc.)
      <br/><br/>
      Cheers, 
      -The Fitsby server
    </p>
  </body>
</html>