<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
<%= stylesheet_link_tag "application", :media => "all" %>

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#1e8cc5">
  <tr>
    <td></td>
    <td class="header container">
      
        <div class="content">
          <table bgcolor="#1e8cc5">
          <tr>
            <td><%= image_tag "email_logo.png", :alt=>"Fitsby Logo" %></td>
            <td align="right"><h6 class="collapse"><!--Hero--></h6></td>
          </tr>
        </table>
        </div>
        
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
    <p>
      Hi <%= @user.first_name %>,
      <br/><br/>
      Kevin here, again. I noticed that you checked in only once during your Fitsby game. Looks like our app isn't doing what it was supposed to do, which is help you reach your workout goal. There's a reason you signed up for Fitsby, and I wanted to personally reach out to you and ask you for your advice on what we can change. We're always working on making Fitsby better and would truly appreciate your input.
    <br/><br/>
      Have a great day!<br/>
      - Kevin
      <br/><br/>
      P.S. The only time we will ever code anything is when we get your feedback! If you want to request something, don't hesitate to let us know.
    </p>          
  <br/>
  <br/>             

          
          
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      
        <!-- content -->
        <div class="content">
        <table>
        <tr>
          <td align="center">
            <p>
              <% link_to "/terms" %> | <% link_to "/privacy" %> | 
              <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
            </p>
          </td>
        </tr>
      </table>
        </div><!-- /content -->
        
    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>