<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4 style="color: red">FOR FITSBY EMPLOYEES ONLY</h4>
    <p>This user requested their user data be deleted:</p>
    <p>
      <strong><%= @user_id %></strong>
    </p>

    <br/>
      <p>Delete this user after their games have ended.</p>

    
  </body>
</html>