<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hey <%= @user.first_name %>!
      <br/><br/>
      We just saw that you signed up for Fitsby and we wanted to reach out to see if you needed any help getting started.
      <br/><br/>
      Feel free to email us at <a href="mailto:team@fitsby.com">team@fitsby.com</a> if you ever have any questions, thoughts, or concerns. We look forward to hearing your ideas and feedback! We also have an FAQ page <a href="http://fitsby.com/faq.html">here</a> that we thought you might want to check out.
      <br/><br/>
      Happy gym going!
      <br/><br/>
      Danny, Brent, and Kevin
      <br/>
      <strong>The Fitsby Team</strong>
    </p>
 
  </body>
</html>