<h2>User List</h2>

<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.first_name %></strong>
      <strong><%=h user.last_name %></strong>
      <strong><%=h user.email %></strong>
      <%= link_to "Add Friend", friendship_create_path(:friend_id => user)%>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>