<html>
  <ul>     
    <%= link_to "About", about_path %>
    &nbsp;&nbsp;  
    <%= link_to "Contact", contact_path %>  
    <!--<a href="#" data-reveal-id="ContactModal"
    onclick="_gaq.push(['_trackEvent', 'href', 'Contact', 'Contact modal']);">Contact</a>--> <!--Google Analytics tracking event click on Contact -->
    &nbsp;&nbsp; 
    <%= link_to "Privacy", privacy_path %>
    &nbsp;&nbsp; 
    <p>
    <!--<a href="http://fitsby.posterous.com"
    onsubmit="that=this;_gaq.push(['_trackEvent','href','Blog','Posterous Blog']);setTimeout(function() { that.submit() }, 200);return false;" >Blog</a>-->
    <!--<a href="http://fitsby.posterous.com" target="_blank">Blog</a>
    &nbsp;&nbsp; -->
    <a href="https://www.facebook.com/pages/Fitsby/405270759527533" target="_blank"><img src="/assets/facebook_icon.jpg" height="17px" style="top: 4px; position: relative;" alt="">
    </a>
    &nbsp; 
    <a href="http://twitter.com/fitsby" target="_blank"><img src="/assets/twitter_icon.png" height="18px" style="top: 4px; position: relative" alt="">
    </a>
    &nbsp;&nbsp;
    &copy; 2012 Fitsby
    <br/><br/>
    <!--<span class="fb-like" data-href="http://facebook.com/FitsbyApp" data-send="false" data-width="100" data-show-faces="false" data-layout="button_count" data-font="arial"></span>-->
    <span id="made_with_love">&nbsp;Crafted with <img src="/assets/heart.jpg" alt="love"> in Champaign, IL&nbsp;</span>
    </p>
  </ul>
</html>

